
<h6 class="outline-header">
  <span *ngIf="readingMode && !mobile">
    <i class="fas fa-bars"></i>
  </span> 
  Outline
</h6>
<ul *ngIf="scrollableElements">
  <li *ngIf="scrollableElements.getStarted">
    <sbdl-button class="outline" (click)="scrollToElement(scrollableElements.getStarted)" (blur)="removeClass(scrollableElements.getStarted)">
      <sbdl-icon icon="goal"></sbdl-icon>
      Get Started
    </sbdl-button>
  </li>
  <li *ngIf="scrollableElements.overview">
    <sbdl-button class="outline" (click)="scrollToElement(scrollableElements.overview)" (blur)="removeClass(scrollableElements.overview)">
      <sbdl-icon icon="goal"></sbdl-icon>
      Overview
    </sbdl-button>
  </li>
  <li *ngIf="model.steps.length > 0" class="steps">
    <div class="steps-header">
      <sbdl-icon icon="steps"></sbdl-icon>
      Step-by-Step
    </div>
    <ol>
      <li *ngFor="let step of model.steps; let i = index" >
        <sbdl-button class="step" (click)="scrollToElement(scrollableElements.steps[i])" (blur)="removeClass(scrollableElements.steps[i])">{{ step.title }}</sbdl-button>
      </li>
    </ol>
  </li>
  <li *ngIf="scrollableElements.attachments">
    <sbdl-button class="outline" (click)="scrollToElement(scrollableElements.attachments)" (blur)="removeClass(scrollableElements.attachments)">
      <i class="far fa-paperclip"></i>
      Attachments
    </sbdl-button>
  </li>
  <li *ngIf="scrollableElements.differentiation">
    <sbdl-button class="outline" (click)="scrollToElement(scrollableElements.differentiation)" (blur)="removeClass(scrollableElements.differentiation)">
      <i class="far fa-universal-access"></i>
      Differentiation
    </sbdl-button>
  </li>
  <li *ngIf="scrollableElements.comments">
    <sbdl-button class="outline" (click)="scrollToElement(scrollableElements.comments)" (blur)="removeClass(scrollableElements.comments)">
      <i class="far fa-comment-dots"></i>
      Comments and Suggestions
    </sbdl-button>
  </li>
  <li *ngIf="scrollableElements.formativeAssessmentProcess">
    <sbdl-button class="outline" (click)="scrollToElement(scrollableElements.formativeAssessmentProcess)" (blur)="removeClass(scrollableElements.formativeAssessmentProcess)">
      <sbdl-icon icon="strategies"></sbdl-icon>
      Formative Assessment Process
    </sbdl-button>  
  </li>
</ul>