<h6 class="outline-header">
  <span *ngIf="readingMode && !mobile">
    <i class="fas fa-bars"></i>
  </span>
  Outline
</h6>
<ul *ngIf="outline">
  <li *ngFor="let section of sectionsInOrder"
      [ngClass]="'section-' + section.type">
    <div class="section-header">
      <sbdl-button  class="outline"
                    (click)="scrollTo(section)"
                    (blur)="removeHighlight(section)">
        <sbdl-icon *ngIf="section.sbdlIcon" [icon]="section.sbdlIcon"></sbdl-icon>
        <i *ngIf="section.fontAwesomeIcon" class="far" [ngClass]="section.fontAwesomeIcon"></i>
        {{ section.title }}
      </sbdl-button>
    </div>
    <ol *ngIf="section.subsections">
      <li *ngFor="let subsection of section.subsections">
        <sbdl-button class="subsection"
                     (click)="scrollTo(subsection)"
                     (blur)="removeHighlight(subsection)">
          {{ subsection.title }}
        </sbdl-button>
      </li>
    </ol>
  </li>
</ul>
