<div class="top-header">
  <img src="/assets/images/yellow-spot.png" />
  <sbdl-actions [model]= "model" (readingModeChanged)="emitReadingModeChanged($event)"></sbdl-actions>
</div>
<sbdl-header [model]="model" (attachmentsClicked)="scrollToAttachments()"></sbdl-header>

<sbdl-strategy-overview [model]="model.overview" (sectionElementLoaded)="setOverview($event)"></sbdl-strategy-overview>

<hr *ngIf="model.attachments.length > 0"/>
<sbdl-attachments [models]="model.attachments" (sectionElementLoaded)="setAttachments($event)"></sbdl-attachments>
<hr/>

<sbdl-section [contentHtml]="model.instructionalUse" [options]="instructionalUse"></sbdl-section>
<hr/>

<sbdl-section [contentHtml]="model.comments" [options]="commentsSection"></sbdl-section>
<hr/>

<sbdl-section [contentHtml]="model.strategyInActions" [options]="strategySection"></sbdl-section>
<hr/>
