@import "@material/button/mdc-button";
@import "@material/icon-button/mdc-icon-button";

@import "ui-kit/colors";
@import "ui-kit/fonts";
@import "ui-kit/buttons";
@import "ui-kit/icons";

body {
    background-color: #FFFFFF;
    margin: 0;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
}

:root {
    --measure: 65ch;
}
* {
    max-width: var(--measure);
}
html,
body,
div,
header,
nav,
main,
footer {
    max-width: none;
}
