// Material Components
@import "@material/button/mdc-button";
@import "@material/icon-button/mdc-icon-button";

// SBAC Digital Library UI Kit
@import "ui-kit/colors";
@import "ui-kit/typography";
@import "ui-kit/buttons";
@import "ui-kit/icons";
@import "ui-kit/tooltips";

:root {
    --measure: 65ch;
    --nav-width: 331px;
}

* {
    max-width: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
    max-width: none;
}

body {
    background-color: $white;
    margin: 0;
}
