/* You can add global styles to this file, and also import other style files */
.flex {
    display: flex;
    color: white;
}

.rectangle {
    background-color: red;
    width: 100px;
    height: 100px;
    padding: 5px;
}
.rectangle-override {
    background-color: blue;
    width: 100px;
    height: 100px;
    padding: 5px;
}