<article *ngIf="models.length > 0" #header class="attachments-container">
  <h4 class="leading-icon">
      <i class="far fa-paperclip"></i>Attachments
  </h4>
  <p>This resource relies on the following materials. Download them to use.</p>
  <a *ngFor="let attachment of models" [href]="attachment.downloadUrl" [download]="attachment.filename"  class="attachment-card"  #attachments>
    <div class="type-info">
      <span class="attachment-type">{{ attachment.type }}</span>
      <i class="far {{attachment.fileType | fileTypeIcon }}"></i>
    </div>
    <p>{{ attachment.title }}</p>
    <div class="download-text">
        Download ({{attachment.fileExtension}} {{ attachment.fileSizeInKB ? attachment.fileSizeInKB + ' KB' : '' }})
    </div>
  </a>
</article>
