<article *ngIf="models.length > 0" #header class="attachments-container">
  <h4 class="leading-icon">
      <i class="far fa-paperclip"></i>Attachments
  </h4>
  <p>This resource relies on the following materials. Download them to use.</p>
  <div *ngFor="let attachment of models" class="attachment-card">
    <div class="type-info">
      <span class="attachment-type">{{ attachment.type }}</span>
      <i class="far {{attachment.fileType | fileTypeIcon }}"></i>
    </div>
    <p>{{ attachment.title }}</p>
    <div>
      <a [href]="attachment.downloadUrl" [download]="attachment.filename" class="download-link">
        Download ({{attachment.fileExtension}} {{ attachment.fileSizeInKB }} KB)
      </a>
    </div>
  </div>
</article>
