@import "spacing";
@import "fonts";
@import "colors";

:host {
    display: block;
    max-width: none;
}

.attachments-container {
    padding-top: $spacer;
    max-width: var(--measure);
    width: var(--measure);
    margin-right: $spacer-xl;
    margin-left: $spacer-lg;
    margin-bottom: $spacer-lg;
    position: relative;

    .attachment-card  {
        background-image: url('/assets/images/attachment-card-bg.png');
        background-repeat: no-repeat;
        background-size: auto 100%;
        border-radius: 2px;
        margin-bottom: $spacer;
        
        // background-position: left 184px bottom;
        /* 1dp — Elevation */

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
        padding: $spacer $spacer $spacer $spacer-md;

        .type-info {
            display: flex;
            justify-content: space-between;

            .attachment-type {
                text-transform: uppercase;
                font-family: $font-family-title;
                font-size: $font-size-body-2;
                line-height: 18px;
                letter-spacing: 0.08em;
                color: rgba(33, 38, 47, 0.65);;
            }
        }
        .download-link {
            color: rgba($neutral-900, 0.65);
        }
    }
}
