<article #header class="attachments-container">
  <h4 class="leading-icon">
      <i class="far fa-paperclip"></i>Attachments
  </h4>
  <p>This resource relies on the following materials. Download them to use.</p>
  <div *ngFor="let attachment of models" class="attachment-card">
    <div class="type-info">
      <span class="attachment-type">{{ attachment.type }}</span>
      <i class="far fa-file-word"></i>
    </div>
    <p>{{ attachment.title }}</p>
    <div>
      <a href="javascript:void(0)" class="download-link">Download (.doc {{ attachment.fileSizeInKB }} KB)</a>
    </div>
  </div>
</article>
