@import "spacing";
@import "typography";

:host {
    display: block;
    max-width: none;
}

.step-container {
    padding-top: $spacer;
    max-width: var(--measure);
    margin-right: $spacer-xl;
    margin-left: $spacer-lg;
    margin-bottom: $spacer-lg;
    position: relative;

    ol {
        font-weight: 500;
        font-size: 1.4625rem;
        line-height: 133%;

        margin-block-start: 0;
        padding-inline-start: 0;

    }

    .leading-icon {
        text-indent: calc((-1) * (var(--icon-width) + var(--icon-margin) + 9px));
        sbdl-icon:not(.tooltip-icon) {
            color: $brand-blue;
            background: url('/assets/images/blue-spot.png') no-repeat;
            background-size: contain;
            padding: 7px;
            font-size: 1.5rem;
        }
    }

    &::ng-deep {
        ul {
            list-style-type: disc !important;
        }
    }
}
@media only print{
   .step-container{
     break-before: always;
   }
}
