@import "colors";
@import "spacing";

:host {
  padding-top: $spacer;
  position: relative;  // required to keep the highlighted class only around this li.

  a:hover {
      text-decoration: underline;
  }

  a { 
      color: $info-500;
  }
}
