@import "spacing";
@import "fonts";
@import "colors";

:host {
    display: block;
    max-width: none;
}

.comments-container {
    padding-top: $spacer;
    max-width: var(--measure);
    margin-right: $spacer-xl;
    margin-left: $spacer-lg;
    margin-bottom: $spacer-lg;
    position: relative;

    .leading-icon{
        margin-left: -11px;
        svg {
            color: gba(72, 79, 91, 0.8);
            background: url('/assets/images/yellow-spot-4.png') no-repeat;
            background-size: contain;
            padding: 7px;
            margin-bottom: -7px;
            font-size: 1.5rem;
        }
    }
}
