@import "colors";
@import "typography";
@import "spacing";

h5 {
    margin-bottom: $spacer-sm; 
    color: $brand-green; // Is this just in the metadata section?
}

:host {
    padding-left: 20px;
    z-index: inherit;
}

.image-thumbnail {
    width: fit-content;
    background-color: $white;
    margin-top: 16px;
    margin-right: 5px;
    margin-bottom: $spacer-lg;
    border: 8px solid #FFFFFF;
    box-sizing: border-box;

    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 3px 3px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    img {
        max-width: 279px;
        max-height: 279px;
        object-fit: cover;
    }
}

.details {
    font-family: $font-family-title;
    display: flex;
    label {
        grid-area: "label";
        font-style: normal;
        font-weight: 200;
        font-size: 14.1px;
        line-height: 117%;
        letter-spacing: -0.021em;
        width: 85px;
    }
    .value {
        flex-grow: 1;
        font-weight: regular;
        font-size: 14.1px;
        line-height: 117%;
        max-width: 200px;
    }
}
