.svg-assessment-3-math-numbers-dims {
	width: 36px;
	height: 37px;
}

.svg-assessment-6-7-number-system-dims {
	width: 42px;
	height: 42px;
}

.svg-circle-close-dims {
	width: 14px;
	height: 14px;
}

.svg-goal-dims {
	width: 24px;
	height: 24px;
}

.svg-info-dims {
	width: 24px;
	height: 24px;
}

.svg-playlist-play-dims {
	width: 24px;
	height: 24px;
}

.svg-steps-dims {
	width: 24px;
	height: 24px;
}

.svg-strategies-dims {
	width: 24px;
	height: 24px;
}

