.svg-asmt-ela-brief-write-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-ela-edit-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-ela-edit-revise-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-ela-ica-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-ela-langauge-and-vocabulary-use-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-ela-listen-and-interpret-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-ela-performance-task-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-ela-read-informational-texts-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-ela-read-literary-texts-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-ela-research-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-ela-revise-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-ela-summative-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-3-5-geometry-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-3-5-mathematics-performance-task-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-3-5-measurement-and-data-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-3-5-number-and-operations-in-base-10-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-3-5-number-operations-fractions-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-3-5-operations-and-algebraic-thinking-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-6-7-expressions-and-equations-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-6-7-geometry-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-6-7-mathematics-performance-task-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-6-7-ratio-and-proportional-relationships-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-6-7-statistics-and-probability-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-6-7-the-number-system-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-8-expressions-and-equations-1-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-8-expressions-and-equations-2-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-8-functions-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-8-geometry-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-8-performance-task-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-8-the-number-system-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-hs-algebra-and-functions-1-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-hs-algebra-and-functions-2-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-hs-geometry-and-righ-triangle-trigonometry-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-hs-geometry-congruence-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-hs-geometry-measurement-and-modeling-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-hs-interpreting-functions-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-hs-mathematics-performance-task-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-hs-number-and-quantity-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-hs-seeing-struction-in-expressions-dims {
	width: 42px;
	height: 42px;
}

.svg-asmt-math-hs-statistics-and-probability-dims {
	width: 42px;
	height: 42px;
}

.svg-assessment-3-math-numbers-dims {
	width: 36px;
	height: 37px;
}

.svg-assessment-6-7-number-system-dims {
	width: 42px;
	height: 42px;
}

.svg-circle-close-dims {
	width: 14px;
	height: 14px;
}

.svg-close-dims {
	width: 24px;
	height: 24px;
}

.svg-goal-dims {
	width: 24px;
	height: 24px;
}

.svg-info-dims {
	width: 24px;
	height: 24px;
}

.svg-playlist-play-dims {
	width: 24px;
	height: 24px;
}

.svg-smarter-balanced-footer-logo-dims {
	width: 100px;
	height: 32px;
}

.svg-steps-dims {
	width: 24px;
	height: 24px;
}

.svg-strategies-dims {
	width: 24px;
	height: 24px;
}

.svg-take-note-dims {
	width: 22px;
	height: 22px;
}

.svg-tft-logo-full-dims {
	width: 100px;
	height: 44px;
}

.svg-tft-logo-small-dims {
	width: 24px;
	height: 26px;
}

