<!-- <span id="tooltip" [tooltip]="text" placement="top" trigger="click" hide-delay="15000">
    <dynamic-html [content]="dynamicLoadedContent"></dynamic-html>
    <ng-content></ng-content>
</span> -->
<span (click)="openTooltipPopover()" #tooltip>
    <dynamic-html [content]="dynamicLoadedContent"></dynamic-html>
    <ng-content></ng-content>
</span>
<ng-container #tooltipButton></ng-container>
<ng-template #tooltipPopover>
    <!-- <div class="share-popover">
        <h6>Share this resource</h6>
        <div class="copy-clipboard">
            <input #url readonly type="text" [value]="currentUrl">
            <sbdl-button-icon (click)="copyToClipboard(url)">
              <i class="fas fa-copy" title="Copy to clipboard"></i>
              <div class="copy-success" [hidden]="!showCopied">Copied!</div>
            </sbdl-button-icon>
        </div>
    </div> -->
    <div class="tooltip">
        {{ text }}
    </div>
  </ng-template>