<button
  #tooltip
  class="open-button"
  [attr.aria-label]="text"
  (click)="openTooltipPopover()"
>
  <dynamic-html [content]="dynamicLoadedContent"></dynamic-html>
  <ng-content></ng-content>
</button>
<ng-template #tooltipPopover>
  <div class="tooltip-title">{{ title }}</div>
  <dynamic-html [content]="text"></dynamic-html>
  <a
    *ngIf="readMoreUrl"
    [href]="readMoreUrl"
    [title]="title + ' (opens in a new window)'"
    class="read-more"
    target="_blank"
  >{{ readMoreText }}<i class="far fa-arrow-right" aria-hidden="true"></i></a>
</ng-template>
