<article #sectionHeader *ngIf="resource.topics.length > 0" class="topics-container">
  <h2 class="leading-icon">
    <i class="far fa-chart-network"></i>Connect Student Performance to
    Instructional Resources
    <sbdl-tooltip text="A description of what students know or can do for each topic, as well as resources to support instructional next steps.">
      <sbdl-icon icon="info"></sbdl-icon>
    </sbdl-tooltip>
  </h2>
  <section class="progressions-table">
    <div class="progressions-info">
      <div></div>
      <h3>
        Student Performance Progressions
        <sbdl-tooltip text="A description of what students know or can do when they are below, near, or above each topic identified within this playlist.">
          <sbdl-icon icon="info"></sbdl-icon>
        </sbdl-tooltip>
      </h3>
    </div>
    <div class="table-header" aria-hidden="true">
      <div class="topic-title">
        <h3>Topic</h3>
        <div class="caption emphasis-medium">Resource</div>
      </div>
      <div [ngClass]="{collapsed: belowCollapsed}" class="scale below">
        <sbdl-progression-scale-button
          scale="below"
          [collapsed]="belowCollapsed"
          (click)="toggleBelowCollapsed()"
        ></sbdl-progression-scale-button>
      </div>
      <div [ngClass]="{collapsed: nearCollapsed}" class="scale near">
        <sbdl-progression-scale-button
          scale="near"
          [collapsed]="nearCollapsed"
          (click)="toggleNearCollapsed()"
        ></sbdl-progression-scale-button>
      </div>
      <div [ngClass]="{collapsed: aboveCollapsed}" class="scale above">
        <sbdl-progression-scale-button
          scale="above"
          [collapsed]="aboveCollapsed"
          (click)="toggleAboveCollapsed()"
        ></sbdl-progression-scale-button>
      </div>
    </div>
    <sbdl-playlist-topic
      *ngFor="let topic of resource.topics"
      [topic]="topic"
      [belowCollapsed]="belowCollapsed"
      [nearCollapsed]="nearCollapsed"
      [aboveCollapsed]="aboveCollapsed"
      (sectionLoaded)="addSubsection($event)"
    ></sbdl-playlist-topic>
  </section>
  <sbdl-playlist-intervention
    [content]="resource.overview.interventionSuggestions"
    (sectionLoaded)="addSubsection($event)">
  </sbdl-playlist-intervention>
</article>
<hr *ngIf="resource.topics.length > 0"/>
