<main id="main" class="landing-header">
    <div class="top-header">
        <img src="/assets/images/yellow-spot.png" aria-hidden="true">
    </div>

    <span>
        <h1>
            <ng-container [ngSwitch]="landing.type">
                <i *ngSwitchCase="'cp'" class="far fa-chart-network"></i>
                <sbdl-icon *ngSwitchCase="'ir'" icon="steps"></sbdl-icon>
                <sbdl-icon *ngSwitchCase="'fs'" icon="strategies"></sbdl-icon>
                <i *ngSwitchCase="'as'" class="far fa-universal-access"></i>
                <sbdl-icon *ngSwitchCase="'pl'" icon="goal"></sbdl-icon>
            </ng-container>
            {{landing.title}}
        </h1>
    </span>

    <h3>{{landing.introTitle}}</h3>
    <div
        class="text-container"
        #textContainer>{{landing.introText}}
    </div>


    <h2>How will they help me?</h2>
    <ul>
        <li *ngFor="let howHelp of landing.howHelp">
            <span>{{howHelp.title}}: {{howHelp.message}}</span>
        </li>
    </ul>

    <h3>Start Using {{landing.titleShort}}</h3>
     <div class="select-group">
     <!--   <div class="select-control-group">
          <select class="select" [ngClass]="{'select-placeholder' : preloginSelectionId == ''}" [(ngModel)]="preloginSelectionId" (change)="onPreloginSelected()">
            <option value="" disabled>Select your location</option>
            <option *ngFor="let s of preloginSelections" value="{{s.preloginSelectionId}}">
              {{ s.selectionLabel }}
            </option>
          </select>
          <i class="far fa-chevron-square-down fa-lg select-icon"></i>
        </div> -->
      </div>

    <h2>How can I use {{landing.titleShort}}?</h2>
</main>

