<!-- <header class="resource-header">

</header> -->
<main id="main">

  <div  class="landing-header">
    <!-- <div class="top-header">
        <img src="/assets/images/yellow-spot.png" aria-hidden="true">
    </div> -->

    <span>
        <h1>
            <ng-container [ngSwitch]="landing.type">
                <img class="headerImage" *ngSwitchCase="'icp'"  src="/assets/images/connections-playlist.png" aria-hidden="true">
                <img class="headerImage" *ngSwitchCase="'ir'"   src="/assets/images/instructional-resource.png" aria-hidden="true">
                <img class="headerImage" *ngSwitchCase="'fasr'" src="/assets/images/formative-strategy.png" aria-hidden="true">
                <img class="headerImage" *ngSwitchCase="'asr'"  src="/assets/images/accessibility-strategy.png" aria-hidden="true">
                <img class="headerImage" *ngSwitchCase="'plr'"  src="/assets/images/professional-learning.png" aria-hidden="true">
                <img class="headerImage" *ngSwitchCase="'iaip'" src="/assets/images/iaip 1.png" aria-hidden="true">
            </ng-container>
            {{landing.title}}
        </h1>
    </span>


    <section class="landing-splits">

        <div class="landing-card-right">
          <h3>{{landing.introTitle}}</h3>
          <div style="margin-bottom: 35px;"
              class="text-container"
              #textContainer>{{landing.introText}}
          </div>


          <h2 style="font-weight: bold;">How will they help me?</h2>
          <ul style="padding: 1rem 1rem;margin-top: unset;">
              <li *ngFor="let howHelp of landing.howHelp" style="margin-bottom: 10px;">
                  <span style="font-weight: bold;">{{howHelp.title}}: </span><span>{{howHelp.message}}</span>
              </li>
          </ul>
        </div>


        <div class="landing-card-right">
          <iframe
            src="https://www.youtube.com/embed/wpwZCqvt70U"
            alt="Understanding the Smarter Balanced Interim Assessments"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen="allowfullscreen">
          </iframe>
        

          <div style="background-color: #E0F7FF;padding: 20px;min-width: 300px;border-radius: 15px;margin-top: 20px;">
            <h2>Start Using {{landing.howDoIUse}}</h2>

            <!-- Select grade and subject -->
            <div  *ngIf="landing.type !== 'iaip' && landing.type !== 'plr'">
              <div class="select-group">
                <div class="select-control-group selectDDL">
                  <select class="select" [ngClass]="{'select-placeholder' : selectedGrade == ''}" [(ngModel)]="selectedGrade">
                    <option value="" disabled>Select a grade</option>
                    <option *ngFor="let g of grades" value="{{g.code}}">
                      {{ g.longName }}
                    </option>
                  </select>
                  <i class="far fa-chevron-square-down fa-lg select-icon"></i>
                </div> 
              </div>

              <div class="select-group">
                <div class="select-control-group selectDDL">
                  <select class="select" [ngClass]="{'select-placeholder' : selectedSubject == ''}" [(ngModel)]="selectedSubject">
                    <option value="" disabled>Select a subject</option>
                    <option *ngFor="let s of subjects" value="{{s.code}}">
                      {{ s.fullName }}
                    </option>
                  </select>
                  <i class="far fa-chevron-square-down fa-lg select-icon"></i>
                </div> 
              </div>

              <sbdl-button  class="primary" >
                  <!-- (click)="emitAttachmentsClicked()">  -->
                GO!
              </sbdl-button>&nbsp;&nbsp;&nbsp;
              <a href="javascript:void(0)" (click)="onBrowseAllClick()">or browse all {{landing.howDoIUse}}</a>

            </div>

            <div  *ngIf="landing.type === 'plr'">
              <div
                class="text-container"
                #textContainer>Type in search terms to find a Professional Learning topic.
              </div>
                
              <!-- (submit)="search({query: $event}, true)" [(ngModel)]="filters.query" -->
              <div style="background-color: white">
                <sbdl-text-field
                  style="font-style: italic;"
                  placeholder="Formative Assessment, Smarter Balanced System, ect."
                  fontAwesomeIcon="fa-search"
                  submitButtonAriaLabel="search resources">
                </sbdl-text-field>               
              </div> 
              <a href="javascript:void(0)" (click)="onBrowseAllClick()">or browse all {{landing.howDoIUse}}</a>
            </div>

            <div  *ngIf="landing.type === 'iaip'">
              <!-- For Authenticated, w/o access -->
              <div>
                <div
                  class="text-container"
                  #textContainer>Use the botton below to go to the IAIP and access interim items.  To find items, you can search be interim assessment name or be content area.
                </div>

                <sbdl-button class="primary attachments-btn" >
                  <i class="fas fa-badge-check"></i> VIEW INTERIM ITEMS
                </sbdl-button>
                <!-- <sbdl-button *ngIf="(hasIaipAccess$ | async) && isInterimItemPortalVisable" class="primary attachments-btn" (click)="openInterimItems()" >
                  <i class="fas fa-badge-check"></i> VIEW INTERIM ITEMS
                </sbdl-button> -->
              </div>

              <div>
                <h3>Log in to Access the IAIP</h3>
                <div
                  class="text-container"
                  #textContainer>Access to the IAIP is avilable to approved K-12 educators in participation member states.  Use the button below to log in and check for access.
                </div>

                <sbdl-button class="primary attachments-btn" >
                  <i class="fas fa-badge-check"></i> LOG IN
                </sbdl-button>
                <!-- <sbdl-button *ngIf="(hasIaipAccess$ | async) && isInterimItemPortalVisable" class="primary attachments-btn" (click)="openInterimItems()" >
                  <i class="fas fa-badge-check"></i> VIEW INTERIM ITEMS
                </sbdl-button> -->
              </div>

              <div>
                <h3>About the IAIP</h3>
                <div
                  class="text-container"
                  #textContainer>Access to the IAIP is avilable to approved K-12 educators in participation member states. 
                </div>
                <div
                  class="text-container"
                  #textContainer>Unfortunately, your account has not been granted access.  Please contact your district or state support if you have questionsor believe this is an error. 
              </div>
              </div>
            </div>
          </div>
        </div>
        
    </section>

  </div>
  <hr/>
  <section class="landing-howcaniuse">
    <div class="watermarks">
      <img class="waterspot green" src="/assets/images/green-spot-2.png" aria-hidden="true">
      <img class="waterspot yellow" src="/assets/images/yellow-spot-6.png" aria-hidden="true">
    </div>

    <h2
       style="margin-top:30px;margin-left: 10rem;">
       <img src="/assets/images/vector-line.png"
       style="
          position: absolute;
          z-index: 100;
          left: 0;
          margin-left: 39px;
          margin-top: -211px;"
            >
       <img src="/assets/images/vector-arrow.png" aria-hidden="true">
       How can I use {{landing.howDoIUse}}?
      </h2>
    <ul style="list-style-type: none;margin-left: 6rem;">
        <li *ngFor="let howUse of landing.howUse; index as i;" 
            [ngClass]="{'yellowImage' : (i + 1) % 3 == 1,'greenImage' : (i + 1) % 3 == 2,'blueImage' : (i + 1) % 3 == 0}">
            <h3>{{howUse.title}}</h3>   
            {{howUse.message}}
        </li>
    </ul>
    <hr/>
  </section>

</main>
<aside class="right-margin">
  
  <img src="/assets/images/landing-icp.png" aria-hidden="true">

  <div *ngIf="landing.diveDeeper && landing.diveDeeper.length > 0">

    <h2>Dive Deeper</h2>
    {{landing.diveDeeperHeader}}

    <ul>
        <li *ngFor="let dd of landing.diveDeeper">
            <a href={{dd.link}}
                aria-label="Formative Assessment Process Flier (opens in a new window)"
                class="link-card" target="_blank" #link>
                <div class="type-info">
                    <span>{{dd.title}}</span>
                    <i class="far fa-file-pdf" aria-hidden="true"></i>
                </div>
            </a>
        </li>
    </ul>
  </div>

  <div *ngIf="landing.samplePlaylist && landing.samplePlaylist.length > 0">
  <h2>Sample Playlists</h2>
  <!-- look at sbdl-playlist-resources for sample -->
  <!-- <ul>
        <li *ngFor="let sp of landing.samplePlaylist">
            <a href={{dd.link}}
                aria-label="Formative Assessment Process Flier (opens in a new window)"
                class="link-card" target="_blank" #link>
                <div class="type-info">
                    <span>{{dd.title}}</span>
                    <i class="far fa-file-pdf" aria-hidden="true"></i>
                </div>
            </a>
        </li>
    </ul> -->
  </div>
</aside>
