<div class="playlist-resources">
<h3>Playlist Resources</h3>
<p class="caption emphasis-medium">Quick links to the referenced materials.</p>
<a #resourceRef
   [attr.aria-label]="resource.title + ' (opens in a new window)'"
   class="link-card"
   *ngFor="let resource of resources"
   [routerLink]="['/resource', resource.id]" target="_blank">
  <div class="type-info">
    <span class="link-title">{{ resource.title }}</span>
    <sbdl-resource-type-icon [type]="resource.type"></sbdl-resource-type-icon>
  </div>
</a>
</div>

