<div class="playlist-resources">
  <h3>Playlist Resources</h3>

  <p class="caption emphasis-medium">
    Quick links to the referenced materials.
  </p>

  <sbdl-resource-card
    *ngFor="let resource of resources"
    resourceUrl="/resource/{{ resource.id }}"
    [text]="resource.title"
    [attr.aria-label]="resource.title + ' (opens in a new window)'"
  >
    <sbdl-resource-type-icon
      class="link-icon"
      [type]="resource.type"
    ></sbdl-resource-type-icon>
  </sbdl-resource-card>
</div>
