<h3>Remote/Hybrid Instruction</h3>
<p class="caption emphasis-medium">
  Learn how to adapt this resource to support learning outside of the classroom.
</p>

<a
  href="https://smartertoolsforteachers.org/resource/1458"
  aria-label="Understanding the Individual Student Assessment Accessibility Profile (opens in a new window)"
  class="link-card"
  target="_blank"
  #link
>
  <div class="type-info">
    <span>Remote Teaching and Learning Framework</span>
    <sbdl-icon
      icon="goal"
      class="center icon-large"
      aria-hidden="true"
    ></sbdl-icon>
  </div>
</a>
