@import 'fonts';
@import 'colors';
@import 'spacing';

:host {
    display: block;
    max-width: none;
}

.formative-container {
    padding-top: $spacer;
    max-width: var(--measure);
    margin-right: $spacer-xl;
    margin-left: $spacer-lg;
    margin-bottom: $spacer-lg;
    position: relative;

    .leading-icon {
        text-indent: calc((-1) * (var(--icon-width) + var(--icon-margin) + 10px));
        sbdl-icon {
            color: $brand-green;
            background: url('/assets/images/green-spot-3.png') no-repeat;
            background-size: contain;
            padding: 7px;
            font-size: 1.5rem;
        }
    }

    section {
        margin-bottom: $spacer;
    }

    h6 {
        a,
        a:link,
        a:visited,
        a:hover,
        a:active {
            color: $neutral-900;
            text-decoration: none;
            font-weight: normal;
        }
    }

    .fa-arrow-right {
        color: $info-500;
        padding-left: $spacer-sm;
    }
}