<article #header class="formative-container">
  <h4  class="leading-icon">
    <sbdl-icon icon="strategies"></sbdl-icon>
    Formative Assessment Process
  </h4>
  <section>
    <h5>How its used</h5>
    <div>
      <h6>Clarify Intended Learning</h6>
      <div [innerHtml]="resource.formativeAssessHowTo.clarify"></div>
      <h6>Elicit Evidence</h6>
      <div [innerHtml]="resource.formativeAssessHowTo.elicit"></div>
      <h6>Interpret Evidence</h6>
      <div [innerHtml]="resource.formativeAssessHowTo.interpret"></div>
      <h6>Act on Evidence</h6>
      <div [innerHtml]="resource.formativeAssessHowTo.act"></div>
    </div>
  </section>
  <section>
    <h5>Strategies Used</h5>
    <div *ngFor="let strategy of resource.formativeAssessmentStrategies" class="strategy-link">
      <h6><a href="/resource/{{strategy.id}}" target="_blank">{{ strategy.title }} <i class="far fa-arrow-right"></i></a></h6>
      <p>{{ strategy.description }}</p>
    </div>
  </section>
</article>
