@import 'fonts';
@import 'colors';
@import 'spacing';

.formative-container {
    font-size: $font-size-body-2;
    max-width: none;

    .leading-icon {
        sbdl-icon {
            color: $brand-green;
            background: url('/assets/images/green-spot-3.png') no-repeat;
            background-size: contain;
            padding: 10px;
            font-size: 1.5rem;
        }
    }

    h6 {
        a,
        a:link,
        a:visited,
        a:hover,
        a:active {
            color: $neutral-900;
            text-decoration: none;
            font-weight: normal;
        }
    }

    .fa-arrow-right {
        color: $info-500;
        padding-left: $spacer-sm;
    }

    section {
        margin-left: auto;
        margin-right: auto;
        h6{
            margin-bottom: 0;
            margin-top: 1.5rem;
        }
    }
}