@import 'typography';
@import 'colors';
@import 'spacing';

:host {
    display: block;
    max-width: none;
}

.formative-container {
    padding-top: $spacer;
    max-width: var(--measure);
    margin-right: $spacer-xl;
    margin-left: $spacer-lg;
    margin-bottom: $spacer-lg;
    position: relative;

    .leading-icon {
        margin-left:-16px;
        sbdl-icon {
            color: darken($warning-900, 25%);
            background: url('/assets/images/yellow-spot-3.png') no-repeat;
            background-size: contain;
            padding: 7px;
            font-size: 1.5rem;
        }
    }

    section {
        margin-bottom: $spacer;
    }

}
