<nav class="outline">
  <!-- TODO: Future enhancement: categorize bookmarked resource by resource
    type. -->
</nav>
<section class="bookmark-list">
  <div class="top-header">
    <img src="/assets/images/yellow-spot.png" aria-hidden="true" alt="" />
  </div>
  <header>
    <h1>My Bookmarks</h1>
  </header>
  <ul class="bookmarks">
    <li *ngFor="let bookmark of bookmarks">
      <sbdl-resource-summary-card [resourceSummary]="bookmark" ></sbdl-resource-summary-card>
      <sbdl-bookmark-actions [resourceSummary]="bookmark"></sbdl-bookmark-actions>
    </li>
  </ul>
</section>
<aside class="right-margin"></aside>
