@import "colors";
@import "spacing";
@import "typography";
@import "@material/ripple/mdc-ripple";

.link-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: $spacer-md;
  margin-right: $spacer;
}

.learn-more {
  margin-top: $spacer-lg;
  margin-bottom: $spacer;
  font-size: 0.825rem;
}
