<div *ngIf="isFormative()">
  <h3 class="link-title">
    Learn how this strategy relates to the Formative Assessment Process.
  </h3>

  <sbdl-resource-card
    resourceUrl="https://portal.smarterbalanced.org/library/en/formative-assessment-process.pdf"
    text="Formative Assessment Process Flier"
    description="Formative Assessment Process Flier (opens in a new window)"
  >
    <i class="far fa-file-pdf" aria-hidden="true"></i>
  </sbdl-resource-card>

  <sbdl-resource-card
    resourceUrl="https://www.youtube.com/watch?v=wpwZCqvt70U"
    text="Understanding the Formative Assessment Process"
    description="Understanding the Formative Assessment Process (opens in a new window)"
  >
    <i class="fab fa-youtube" aria-hidden="true"></i>
  </sbdl-resource-card>
</div>

<div *ngIf="!isFormative()">
  <ng-content></ng-content>
  <p class="learn-more">Learn more about accessibility.</p>

  <sbdl-resource-card
    resourceUrl="https://smartertoolsforteachers.org/resource/1458"
    text="Understanding the Individual Student Assessment Accessibility Profile"
    description="Understanding the Individual Student Assessment Accessibility Profile"
    icon="goal"
  >
  </sbdl-resource-card>

  <sbdl-resource-card
    resourceUrl="https://smartertoolsforteachers.org/resource/1459"
    text="Individual Student Assessment Accessibility Profile: A Tool to Support Students"
    description="Individual Student Assessment Accessibility Profile: A Tool to Support Students (opens in a new window)"
    icon="goal"
  >
  </sbdl-resource-card>
</div>
