<nav class="outline">
  <sbdl-outline
    [resource]="resource"
    [scrollableElements]="scrollableElements"
    [readingMode]="readingMode"
  ></sbdl-outline>
</nav>
<section class="resource-content">
  <sbdl-instructional-content
    [resource]="resource"
    (loadScrollableElements)="setScrollableElements($event)"
    (readingModeChanged)="readingModeChanged($event)"
  ></sbdl-instructional-content>
</section>
<aside class="resource-properties">
  <sbdl-resource-properties [properties]="resource.properties">
    <sbdl-educational-details [properties]="resource.properties"></sbdl-educational-details>
  </sbdl-resource-properties>
</aside>
