.instructional-resource {
    display: grid;
    grid-template: "outline resource-content metadata" 1fr / 311px 1fr 311px;
    grid-gap: 20px;
    .outline {
        grid-area: outline;
    }
    .resource-content {
        grid-area: resource-content;
    }
    .metadata {
        grid-area: metadata;
    }
    nav sbdl-outline,
    aside sbdl-metadata {
      position: fixed;
    }
  
}