<div class="top-header">
  <img src="/assets/images/yellow-spot.png" alt="" />
  <sbdl-actions
    [notesVisible]="notesVisible"
    [hasNotes]="notes.length > 0"
    [resource]="resource"
    (readingModeChanged)="emitReadingModeChanged($event)"
    (printingModeChanged)="emitPrintingModeChanged($event)">
  </sbdl-actions>
</div>

<sbdl-header
  [resource]="resource"
  (attachmentsClicked)="scrollToAttachments()">
</sbdl-header>

<sbdl-overview
  [resource]="resource"
  (sectionLoaded)="addDocumentSection($event)">
</sbdl-overview>

<sbdl-step-by-step
  [steps]="resource.stepByStep"
  (sectionLoaded)="addDocumentSection($event)">
</sbdl-step-by-step>

<sbdl-attachments
  [attachments]="resource.attachments"
  (sectionLoaded)="addDocumentSection($event)">
</sbdl-attachments>

<sbdl-section
  [contentHtml]="resource.thingsToConsider"
  [options]="commentsOptions"
  (sectionLoaded)="addDocumentSection($event)">
</sbdl-section>

<sbdl-formative-list
  [strategies]="resource.formativeAssessmentStrategies"
  (sectionLoaded)="addDocumentSection($event)">
</sbdl-formative-list>
