<div class="top-header">
  <img src="/assets/images/yellow-spot.png" />
  <sbdl-actions [model]= "model" (readingModeChanged)="emitReadingModeChanged($event)"></sbdl-actions>
</div>
<sbdl-header [model]="model" (attachmentsClicked)="scrollToAttachments()"></sbdl-header>

<sbdl-overview [model]="model.overview" (sectionElementLoaded)="setOverview($event)"></sbdl-overview>
<hr/>

<sbdl-step-by-step [models]="model.steps" (sectionElementLoaded)="setSteps($event)"></sbdl-step-by-step>
<hr *ngIf="model.attachments.length > 0"/>

<sbdl-attachments [models]="model.attachments" (sectionElementLoaded)="setAttachments($event)"></sbdl-attachments>
<hr/>

<sbdl-comments [model]="model" (sectionElementLoaded)="setComments($event)"></sbdl-comments>
<hr/>

<sbdl-formative [model]="model.formative" (sectionElementLoaded)="setFormative($event)"></sbdl-formative>
