<div class="image-thumbnail">
  <img [src]="model.image">
</div>
<h5>{{ staticData.resourceType }}</h5>
<div class="details">
    <label *ngIf="model.category">Category</label>
    <div class="value">{{ model.category }}</div>
</div>
<h6 class="link-title">{{ staticData.linkTitle }}</h6>
<a *ngFor="let link of staticData.links" [href]="link.url" class="link-card" target="_blank" #links> 
  <div class="type-info">
    <span>{{ link.title }}</span>
    <i class="far {{ link.faIcon }}"></i>
  </div>
</a>