.transcriptHide {
    height: 0px;
    visibility: hidden;
  }

.able-controller div[role=button] {
  background: 0 0;
  position: relative;
  display: inline-block;
  border-style: none;
  margin: 3px;
  padding: 0;
  font-size: 20px;
  min-width: 24px;
  border: none;
  overflow: visible!important;
  z-index: 6600;
}