@import 'fonts';

.primary > .mdc-button:before,
.primary > .mdc-button:after {
  background-color: $white;
}

.primary > .mdc-button:not(:disabled){
    color: $white;
    background-color: $action-700;
}
  
.mdc-icon-button {
    color: $action-700;
    font-size: 1.2rem;
}

.outline > .mdc-button:not(:disabled) {
    color: $neutral-900;
    width: 100%;
    font-size: 1rem;
    font-family: $font-title;
    text-align: left;
    text-transform: none;
    letter-spacing: normal;
    justify-content: initial;
    align-items: initial;
    padding: 1rem;
    height: 3rem;
}

.outline >.mdc-button:before,
.outline > .mdc-button:after {
  background-color: $neutral-900;
}

