@import 'fonts';

.primary > .mdc-button:before,
.primary > .mdc-button:after {
  background-color: $white;
}

.primary > .mdc-button:not(:disabled){
    color: $white;
    background-color: $action-700;
}
  
.mdc-icon-button {
    color: $action-700;
    font-size: 1.2rem;
}

.outline > .mdc-button:not(:disabled) {
    color: $neutral-900;
    width: 100%;
    font-size: 1rem;
    font-family: $font-family-title;
    text-align: left;
    text-transform: none;
    letter-spacing: normal;
    justify-content: initial;
    align-items: initial;
    padding: calc(1rem - 8px);
    height: 3rem;
}

.outline > .mdc-button:not(:disabled):focus {
    border-left: $action-500 solid 8px;
}

.step > .mdc-button:not(:disabled) {
    color: $neutral-900;
    width: 91%;
    
    // ellipsis for overflow
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    font-size: 0.9rem;
    font-family: $font-family-body;
    text-align: left;
    
    vertical-align: baseline; // aligns with numbers

    text-transform: none;
    letter-spacing: normal;
    justify-content: initial;
    align-items: initial;
}

.step > .mdc-button:not(:disabled):focus {
    border-left: $action-500 solid 4px;
}

.step > .mdc-button:before,
.step > .mdc-button:after,
.outline >.mdc-button:before,
.outline > .mdc-button:after {
  background-color: $action-300;
}