button.primary, .button.primary, .primary > .mdc-button {
    background-color: $action-600;
    color: $white;
}

.primary > .mdc-button:focus {
    background-color: $action-700;

}

:root,.mdc-button{
    --mdc-theme-primary: #ffffff;
  }
  

.mdc-icon-button {
    color: $action-700;
    font-size: 1.2rem;
}