@import "colors";
@import "spacing";

@mixin window {
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2), 0 3px 14px rgba(0, 0, 0, 0.12), 0 8px 10px rgba(0, 0, 0, 0.14);
  display: block;
  padding: 1.5rem;
}

@mixin highlighted($bottom: -$spacer, $right: -$spacer-xl) {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: -$bottom;
    left: -3.5rem;
    right: -$right;
    display: block;
    background-color: rgba($action-100, 0.4);
    border-color: rgba($action-500, 0.4);
    border-radius: 0.25rem;
    border-width: 0 0 0 4px;
    border-style: solid;
    z-index: -1;
  }
}
