@import "spacing";
@import "typography";

:host {
  .intervention-container {
    position:relative;
    h3 {
      // TODO: this should become a main style once we refactor our heading
      // styling across the entire app.
      font-size: $font-size-3;
      font-weight: 500;
      line-height: 133%;
    }
  }
}
