<div class="top-header">
  <img src="/assets/images/yellow-spot.png" alt="" />
  <sbdl-actions
    [hasNotes]="notes.length > 0"
    [notesVisible]="notesVisible"
    [readingMode]="readingMode"
    [printingMode]="printingMode"
    [resource]= "resource"
    (readingModeChanged)="emitReadingModeChanged($event)"
    (printingModeChanged)="emitPrintingModeChanged($event)"
    (notesVisibilityChanged)="emitNotesVisibilityChanged($event)"
  ></sbdl-actions>
</div>

<sbdl-header
  [resource]="resource"
  (attachmentsClicked)="scrollToAttachments()"
></sbdl-header>

<sbdl-instructional-get-started
  [resource]="resource"
  (sectionLoaded)="addDocumentSection($event)"
></sbdl-instructional-get-started>

<sbdl-step-by-step
  [steps]="resource.stepByStep"
  (sectionLoaded)="addDocumentSection($event)"
></sbdl-step-by-step>

<sbdl-attachments
  [attachments]="resource.attachments"
  (sectionLoaded)="addDocumentSection($event)"
></sbdl-attachments>

<sbdl-instructional-differentiation
  [resource]="resource"
  (sectionLoaded)="addDocumentSection($event)"
></sbdl-instructional-differentiation>

<sbdl-simple-section
  [contentHtml]="resource.thingsToConsider"
  [options]="commentsSectionOptions"
  (sectionLoaded)="addDocumentSection($event)"
></sbdl-simple-section>

<sbdl-instructional-formative
  [resource]="resource"
  (sectionLoaded)="addDocumentSection($event)"
></sbdl-instructional-formative>
