@import "colors";
@import "spacing";
@import "typography";

:host {
    position: relative;
    display: block;
    max-width: none;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -42px;
        display: block;
        width: 100px;
        height: 46px;
        background-image: url('./../../../../assets/images/yellow-spot.png');
        background-position: top left;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .actions {
        display:flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: $spacer-lg;
        margin-bottom: $spacer;
    }

    header {
        display: grid;
        grid-template-areas: "title title"
                             "byline button"
                             "updated button";
        grid-template-rows: repeat (3, auto);
        grid-template-columns: 1fr auto;
        margin-bottom: $spacer-xl;
        // calculating the max-width
        // --measure + outside padding + inside padding + trailing and leading icons
        max-width: calc(var(--measure) + #{$spacer-xl});
        margin-left: $spacer-lg;
        h1 {
            grid-area: title;
            color: $brand-green;
        }
        .byline {
            font-family: $font-family-title;
            grid-area: byline;
            margin-bottom: $spacer-sm;
            .font-light {
                color: $neutral-500;
            }
        }
        .caption {
            font-family: $font-family-title;
            grid-area: updated;
        }
        sbdl-button {
            grid-area: button;
            align-self: center;
        }
    }

    h3 {
        text-transform: uppercase;
        margin-bottom: 0;
    }

    .modified-info {
        font-size: 0.8em;
        font-style: italic;
    }

    .two-fr-grid {
        display: grid;
        grid-template: 1fr / 1fr 1fr;
    }

    .image-container {
        display: grid;
        grid-template: 1fr / 1fr 4fr;
    }

    .metadata-container {
        display: grid;
        grid-template: 1.2em 1fr 1fr  / 2fr 1fr;
    }
}
