@import "colors";
@import "spacing";
@import "typography";

:host {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: none;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: calc(50% - 32.4ch - 42px);
        display: block;
        width: 100px;
        height: 46px;
        background-image: url('./../../../../assets/images/yellow-spot.png');
        background-position: top left;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .actions {
        align-self: flex-end;
        padding-top: $spacer-lg;
        margin-bottom: $spacer;
    }

    header {
        display: grid;
        grid-template-areas: "title title"
                             "byline button"
                             "updated button";
        grid-template-rows: repeat (3, auto);
        grid-template-columns: 1fr auto;
        margin-bottom: $spacer-xl;
        // calculating the max-width
        // --measure + outside padding + inside padding + trailing and leading icons
        max-width: calc(var(--measure) + #{$spacer-xl});
        margin-left: $spacer-lg;
        h1 {
            grid-area: title;
            color: $brand-green;
        }
        .byline {
            font-family: $font-family-title;
            grid-area: byline;
            margin-bottom: $spacer-sm;
            .font-light {
                color: $neutral-500;
            }
        }
        .caption {
            font-family: $font-family-title;
            grid-area: updated;
        }
        sbdl-button {
            grid-area: button;
            align-self: center;
        }
    }

    .modified-info {
        font-size: 0.8em;
        font-style: italic;
    }
}

.share-popover {
    h6 {
        margin: 0;
        color: $brand-green;
    }
    .copy-clipboard {
        width: 100%;
        display:inline-flex;
        align-items: center;
        justify-items: center;
        justify-content: space-between;
        input {
            font-size: 1rem;
            flex-grow: 1;
        }
    }
    .copy-success {
        font-size: 10px;
        margin-left: -6px;
    }
}
