@import "colors";

.top-row {
    display:flex;
    justify-content: space-between;
    
    .actions {
        display:flex;
        justify-content: space-around;
        align-items: center;
        width: 175px;
        color: $action-primary;
        font-size: 1.2rem;
        svg {
            color: $brand-blue;
            cursor: pointer;
        };

        svg:hover {
            color: rgba($brand-blue, 0.8);
        }
    }
}

header {
    padding: 0 61px;
    h1 {
        color: $brand-green;
    }
    .subheader-section {
        display: flex;
        justify-content: space-between;
    }
}

h3 {
    text-transform: uppercase;
    margin-bottom: 0;
}

.modified-info {
    font-size: 0.8em;
    font-style: italic;
}

.two-fr-grid {
    display: grid; 
    grid-template: 1fr / 1fr 1fr;
}

.image-container {
    display: grid;
    grid-template: 1fr / 1fr 4fr;
}

.metadata-container {
    display: grid;
    grid-template: 1.2em 1fr 1fr  / 2fr 1fr;
}
