<div class="resource-content">
  <div class="actions">
    <sbdl-button-icon><i class="far fa-share"></i></sbdl-button-icon>
    <sbdl-button-icon><i class="far fa-bookmark"></i></sbdl-button-icon>
    <sbdl-button-icon><i class="far fa-print"></i></sbdl-button-icon>
    <sbdl-button-icon><i class="far fa-expand-alt"></i></sbdl-button-icon>
  </div>
  <header>
    <h1 #getStarted>{{ details.title }}</h1>
    <section class="byline">
      {{ details.author }} •
      <span class="font-light">{{ details.authorOrganization }}</span>
    </section>
    <caption>
      <span class="emphasis-medium">Updated</span>
      {{
        details.lastModified | date: 'mediumDate'
      }}
    </caption>
    <sbdl-button class="primary">
      <i class="far fa-paperclip"></i> Attachments
    </sbdl-button>    
  </header>
  <sbdl-overview [model]="model.overview" (sectionElementLoaded)="setGetStarted($event)"></sbdl-overview>
</div>
