<div class="actions">
  <sbdl-button-icon (click)="share()"><i class="far fa-share"></i></sbdl-button-icon>
  <ng-container #shareButton></ng-container>
  <sbdl-button-icon (click)="toggleFavorite()">
    <div *ngIf="!togglingFavorite && model.details.favorite">
      <i class="fas fa-bookmark"></i>
    </div>
    <div *ngIf="!togglingFavorite && !model.details.favorite">
      <i class="far fa-bookmark"></i>
    </div>
    <div *ngIf="togglingFavorite">
      <i class="fas fa-spinner fa-spin"></i>
    </div>
  </sbdl-button-icon>
  <sbdl-button-icon><i class="far fa-print"></i></sbdl-button-icon>
  <sbdl-button-icon (click)="toggleReadingMode()">
    <div *ngIf="readingMode">
      <i class="far fa-compress-alt"></i>
    </div>
    <div *ngIf="!readingMode">
      <i class="far fa-expand-alt"></i>
    </div>
  </sbdl-button-icon>
</div>
<header>
  <h1 #getStarted>{{ details.title }}</h1>
  <section class="byline">
    {{ details.author }}&nbsp;&nbsp;&bull;&nbsp;&nbsp;<span
      class="font-light"
      >{{ details.authorOrganization }}</span
    >
  </section>
  <span class="caption">
    <span class="emphasis-medium">Updated</span>
    {{ details.lastModified | date: 'mediumDate' }}
  </span>
  <sbdl-button class="primary">
    <i class="far fa-paperclip"></i> Attachments
  </sbdl-button>
</header>
<sbdl-overview [model]="model.overview"  (sectionElementLoaded)="setGetStarted($event)"></sbdl-overview>
<sbdl-step-by-step [models]="model.steps" (sectionElementLoaded)="setSteps($event)"></sbdl-step-by-step>
<sbdl-attachments [models]="model.attachments" (sectionElementLoaded)="setAttachments($event)"></sbdl-attachments>
<sbdl-differentiation [model]="model.differentiation" (sectionElementLoaded)="setDifferentiation($event)"></sbdl-differentiation>
<sbdl-formative [model]="model.formative" (sectionElementLoaded)="setFormative($event)"></sbdl-formative>

<ng-template #sharePopover>
  <div class="share-popover">
      <h6>Share this resource</h6>
      <div class="copy-clipboard">
          <input #url readonly type="text" [value]="currentUrl">
          <sbdl-button-icon (click)="copyToClipboard(url)">
            <i class="fas fa-copy" title="Copy to clipboard"></i>
            <div class="copy-success" [hidden]="!showCopied">Copied!</div>
          </sbdl-button-icon>
      </div>
  </div>
</ng-template>
