@import "spacing";

.app-container {
  display: grid;
  grid-template: "navigation router-outlet" "navigation footer" 1fr / 64px 1fr;

  sbdl-navigation {
    grid-area: navigation;
  }

  .router-outlet {
    grid-area: router-outlet;
  }

  sbdl-footer {
    grid-area: footer;
    max-width: 100%;
  }
}

@media only screen and (max-width: $breakpoint-sm) {
  .app-container {
    grid-template: "navigation" "router-outlet" "footer" 1fr / 1fr;

    sbdl-navigation {
      position: relative;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
    }
  }
}
