<div class="resource-header">
  <div class="container">
    <div>
      {{ model.subjects[0] }} | {{ model.grades[0] }}
    </div>
    <h1>{{ model.title }}</h1>
    <div class="image-container">
        <div>
          <img [src]="model.image" height="150"> 
        </div>
        <div class="metadata-container">
          <div class="modified-info two-fr-grid">
              <div>Contributed by: {{ model.author }}</div>
              <div>Last Updated: {{ model.lastModified | date: 'shortDate' }}</div>
          </div>
          <div></div>
          <div>
            <h3>Learning Goal</h3>
            <div>{{ model.learningGoal }}</div>
          </div>
          <div>
            <h3>Connections Playlist</h3>
            <div *ngFor="let playlist of model.connectionsPlaylist">[{{ playlist }}]</div>
          </div>
          <div class="two-fr-grid">
            <div>
              <h3>Claim</h3>
              <div *ngFor="let claim of model.claims">{{ claim.shortName }} : {{ claim.title }}</div>
            </div>
            <div>
              <h3>Target</h3>
              <div *ngFor="let target of model.targets">{{ target.shortName }} | {{ target.title }}</div>
            </div>
          </div>
          <div>
            <h3>Standards</h3>
            <span *ngFor="let standard of model.standards">[{{ standard }}]</span>
          </div>
        </div>
    </div>
</div>

