@import "colors";

.image-thumbnail {
    margin-top: 16px;
    border: 8px solid #FFFFFF;
    box-sizing: border-box;
    /* 3dp — Elevation */

    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 3px 3px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    img {
        max-width: 279px;
        max-height: 279px;
        object-fit: cover;
    }
}

@import "fonts";

.subjects-grades {
    img {
        margin-right: 8px;
    }
    display: flex;
    margin-top: 32px;
    color: $brand-green;
    .subjects {
        margin: 0;
    }
    .grades {
        margin: 0;
    }
}

.details {
    font-family: $font-title;
    margin-top: 15px;
    display: grid;
    grid-template: 
        "label value" 2rem
        "label value" 2rem
        "label value" 2rem  / 85px 1fr;
    > label { 
        grid-area: "label";
        font-style: normal;
        font-weight: 200;
        font-size: 14.1px;
        line-height: 117%;
        letter-spacing: -0.021em;
     }
    > .value { 
        grid-area:  "value" ;
        font-weight: bold;
        font-size: 14.1px;
        line-height: 117%;
    }
    // grid-template-columns: repeat(auto-fill,minmax(140px, 1fr));
    
}