<nav class="outline">
  <sbdl-outline
    [model]="model"
    [scrollableElements]="scrollableElements"
    [readingMode]="readingMode"
  ></sbdl-outline>
</nav>
<section class="resource-content">
  <sbdl-professional-content
    [model]="model"
    (loadScrollableElements)="setScrollableElements($event)"
    (readingModeChanged)="readingModeChanged($event)"
  ></sbdl-professional-content>
</section>
<aside class="metadata">
  <sbdl-metadata [model]="model.details" [resourceType]="model.resourceType"></sbdl-metadata>
</aside>
