<nav class="outline">
  <sbdl-outline
    [resource]="resource"
    [outline]="outline"
    [readingMode]="readingMode"
    [hidden]="printingMode"
  ></sbdl-outline>
  <sbdl-enhanced-printing
    [resource]="resource"
    [outline]="outline"
    [hidden]="!printingMode"
    (printingModeChanged)="printingModeChanged($event)"
    (documentOutlineChanged)="setOutline($event)"
  ></sbdl-enhanced-printing>
</nav>
<main class="resource-content">
  <sbdl-professional-content
    [notes]="notes"
    [notesVisible]="notesVisible"
    [resource]="resource"
    (outlineLoaded)="setOutline($event)"
    (printingModeChanged)="printingModeChanged($event)"
    (readingModeChanged)="readingModeChanged($event)"
    (notesVisibilityChanged)="notesVisibilityChanged($event)"
  ></sbdl-professional-content>
</main>
<aside class="resource-properties">
  <sbdl-resource-properties
    [properties]="resource.properties"
    [hidden]="notesVisible">
    <h5>Professional Learning</h5>
  </sbdl-resource-properties>
  <sbdl-notes
    [hidden]="!notesVisible"
    [notes]="notes"
    [resource]="resource"
    (notesChanged)="notesChanged($event)">
  </sbdl-notes>
</aside>
