<article *ngIf="attachments.length > 0" #sectionHeader class="attachments-container">
  <h4 class="leading-icon">
      <i class="far fa-paperclip"></i>Attachments
  </h4>
  <p>This resource relies on the following materials. Download them to use.</p>
  <a href="{{ attachment.uri }}" target="_blank" *ngFor="let attachment of attachments" class="attachment-card"  #attachments download>
    <div class="type-info">
      <span class="attachment-category">{{ attachment.category }}</span>
      <i class="far {{attachment.fileType | fileTypeIcon }}"></i>
    </div>
    <p>{{ attachment.name }}</p>
    <div class="download-text">
        Download ({{attachment.fileType}} {{ attachment.fileSize ?  (attachment.fileSize / 1000) + ' KB' : '' }})
    </div>
  </a>
  <h6 *ngIf="videoLinks">Videos</h6>
  <div *ngFor="let link of videoLinks" class="video-embed">
    <iframe width="560" title="Youtube Video" height="315" [src]="link | safeUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</article>
<hr *ngIf="attachments.length > 0"/>
