@import "spacing";
@import "fonts";
@import "colors";
@import "@material/ripple/mdc-ripple";

:host {
    display: block;
    max-width: none;
}

.attachments-container {
    padding-top: $spacer;
    max-width: var(--measure);
    margin-right: $spacer-xl;
    margin-left: $spacer-lg;
    margin-bottom: $spacer-lg;
    position: relative;

    .leading-icon {
      margin-left: -16px;

      svg {
        color: darken($warning-900, 25%);
        background: url('/assets/images/yellow-spot-3.png') no-repeat;
        background-size: contain;
        padding: 7px;
        margin-bottom: -7px;
        font-size: 1.75rem;
      }
    }

    .attachment-card  {
        @include mdc-ripple-surface;
        @include mdc-ripple-radius-bounded;
        @include mdc-states;

        background-image: url('/assets/images/attachment-card-bg.png');
        background-repeat: no-repeat;
        background-size: auto 100%;

        border-radius: 2px;
        margin-bottom: $spacer;
        cursor: pointer;
        display: block;
        color: $neutral-900;

        // keeps the ripple inside the card.
        position: relative;
        overflow: hidden;

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
        padding: $spacer $spacer $spacer $spacer-md;

        .type-info {
            display: flex;
            justify-content: space-between;

            .attachment-category {
                text-transform: uppercase;
                font-family: $font-family-title;
                font-size: $font-size-body-2;
                line-height: 18px;
                letter-spacing: 0.08em;
                color: rgba(33, 38, 47, 0.65);;
            }
        }
        .download-text{
            color: rgba($neutral-900, 0.65);
        }
    }
    .video-embed{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
        margin-bottom: 1rem;
    }
    .video-embed iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
}
