@import "colors";
@import "spacing";
@import "typography";

:host {

  .strategy-link {
    page-break-inside: avoid;

    h3, h4 {
      font-size: $font-size-2;
      font-weight: 400;
      line-height: 160%;
    }

    .strategy-title {
      a,
      a:link,
      a:visited,
      a:active {
        color: $neutral-900;
        font-weight: normal;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
        color: $info-500;
      }

      .fa-arrow-right {
        color: $info-500;
        padding-left: $spacer-sm;
      }

      margin-bottom: 3px;
    }

    p {
      margin-top: 0;
    }
  }
}

@media only print {
  .strategy-link {
    page-break-inside: avoid;
  }
}
