<article #sectionHeader class="overview-container">
  <h4 class="leading-icon">
    <i class="far fa-hand-point-right"></i>
      Overview
      <sbdl-tooltip
         text="Information to help you get started with this strategy."
       ><sbdl-icon class="tooltip-icon" icon="info"></sbdl-icon></sbdl-tooltip>
  </h4>
  <div>
    <h5>
      Description
    </h5>
    <p>
      <sbdl-read-more [text] = "resource.overview.overview"></sbdl-read-more>
    </p>
  </div>
  <div>
    <h5>Student Benefits</h5>
    <p>
      <sbdl-read-more [text] = "resource.overview.studentBenefits"></sbdl-read-more>
    </p>
  </div>
  <div>
    <h5>Suggested Materials</h5>
    <div [innerHtml]="resource.overview.suggestedMaterials"></div>
  </div>
</article>
<hr/>
