<div class="login-popover">
  <div class="login-warning">Wait! Do you want to log in?</div>

  <div class="body">More resources and other subjects may be available based on your state/territory.
      * When you log in, you can access everything available in your location.
  </div>

  <div class="login">
    <a href="javascript:void(0)"
      (click)="login()"
    >Yes, log in to access my state/territory resources.</a>
    &nbsp;&nbsp;<i class="far fa-arrow-right" aria-hidden="true"></i>
  </div>

  <div class="continue">
    <a href="javascript:void(0)"
      (click)="close()"
    >No, continue with a limited search.</a>
  </div>

  <div class="foot-note">*Access is available to educators in subscribing states/territories.</div>
</div>