@import 'colors';
@import 'spacing';
@import 'typography';

:host {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: none;
  flex-direction: column;

  .watermarks img { opacity: 0.7; }

   & > .watermarks {

    position: relative;
    width: 100%;

    .yellow {
      position: absolute;
      top: 0;
      left: 0;
    }

    .green {
      position: absolute;
      left: -30px;
      top: 85px;
      transform: rotate(90deg);
    }

    .blue {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  * { max-width: unset; }

  main {

    margin-top: $spacer-lg;
    margin-bottom: $spacer-xl;
    max-width: 600px;
    position: relative;

    .logo-full { width: 24rem; }

    .dashed-line {
      position: absolute;
      left: -87px;
      top: 85px;
    }

    h1 {
      font-size: 1.5rem;
      font-weight: normal;
      margin-top: $spacer;

      .strong-green, .strong-blue {
        font-weight: bold;
      }

      .strong-green {
        color: $success-900;
      }

      .strong-blue {
        color: $brand-blue;
      }

    }

    p {
      color: $neutral-400;
      font-size: 20px;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: $spacer-lg;
    }
  }

  hr {
    background-color: $neutral-75;
    border: none;
    height: 2px;
    margin: 0;
    width: 100%;
  }

  .promoted-resources {

    align-items: center;
    background: $neutral-50;
    display: flex;
    flex-direction: column;
    padding-bottom: $spacer-xl;
    width: 100%;

    & > * {
      max-width: 900px;
    }

    & > .watermarks {
      position: relative;
      width: 100%;

      .yellow {
        position: relative;
        left: -20px;
        top: 0;
      }

      .green {
        position: absolute;
        right: -20px;
        top: 0;
      }

      .blue {
        position: absolute;
        top: 0;
        left: 94px;
      }
    }

    h1 {
      font-size: 34px;
      font-weight: 600;
    }

    .caption.emphasis-medium {
      font-size: $font-size-body-2;
      max-width: 550px;
      text-align: center;
    }

    .resource-summary-cards {

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: $spacer-lg;

      sbdl-resource-summary-card {
        display: inline-block;
        max-width: 416px;
        margin-top: $spacer-md;
        flex-grow: 1;
        padding: 0 0.25rem;
      }
    }
  }

  .promoted-videos {
    min-height: 200px;
    max-width: 900px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: $spacer-xl;
    width: 100%;

    h2 {
      font-size: 23.4px;
      font-style: normal;
      font-weight: 500;
      line-height: 133%;
      max-width: 427px;
    }

    .promoted-video img,
    .promoted-video iframe {
      max-width: 427px;
      margin-top: $spacer-md;
      padding: 0 0.25rem;
      width: 427px;
      height: 240px;
    }
  }
}
