<button
  class="bookmark mdc-icon-button material-icons"
  title="Toggle Bookmark"
  [attr.aria-label]="
    updatingBookmarked
      ? 'Bookmark updating...'
      : bookmark
        ? 'Bookmarked (click to remove the bookmark)'
        : 'Not bookmarked (click to bookmark)'
  "
  (click)="toggleBookmarked()"
>
  <ng-container *ngIf="updatingBookmarked; else notUpdating">
    <i class="fas fa-spinner fa-spin"></i>
  </ng-container>
  <ng-template #notUpdating>
    <ng-container *ngIf="bookmark; else notBookmarked">
      <i class="fas fa-bookmark"></i>
    </ng-container>
    <ng-template #notBookmarked>
      <i class="far fa-bookmark"></i>
    </ng-template>
  </ng-template>
</button>

<button
  class="notes mdc-icon-button material-icons"
  title="Notes"
  [routerLink]="['/resource', resourceSummary.id]"
  [queryParams]="{viewNotes: true}"
>
  <sbdl-icon
    [ngClass]="{'has-notes': hasNotes}"
    icon="take-note"
  ></sbdl-icon>
</button>

<button
  class="share mdc-icon-button material-icons"
  title="Share"
  [attr.aria-label]="'share this resource.'"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  (click)="shareOverlayOpen = !shareOverlayOpen"
>
  <i class="far fa-share"></i>
</button>


<ng-template
  cdkConnectedOverlay
  cdkConnectedOverlayPanelClass="windowed"
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayOpen]="shareOverlayOpen"
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayPositions]="shareOverlayPositions"
  [cdkConnectedOverlayPush]="true"
  (backdropClick)="shareOverlayOpen = false"
>
  <sbdl-share-form
    cdkTrapFocus
    cdkTrapFocusAutoCapture
    [value]="shareValue"
    (closed)="shareOverlayOpen = false"
  ></sbdl-share-form>
</ng-template>

<button
  class="print mdc-icon-button material-icons"
  title="Print"
  [attr.aria-label]="'print this resource.'"
  [routerLink]="['/resource', resourceSummary.id]"
  [queryParams]="{print: true}">
  <i class="far fa-print" ></i>
</button>
