@import "spacing";
@import "typography";
@import "colors";
@import "@material/ripple/mdc-ripple";

:host {
  @include mdc-ripple-surface;
  @include mdc-ripple-radius-bounded;
  @include mdc-states;

  &.file-attachment {
    background-image: url('/assets/images/file-attachment-card-bg.png');
  }

  &.media-attachment {
    background-image: url('/assets/images/media-attachment-card-bg.png');
  }

  &.link-attachment {
    background-image: url('/assets/images/link-attachment-card-bg.png');
  }

  background-repeat: no-repeat;
  background-size: 8px 100%;

  border-radius: 2px;
  margin-bottom: $spacer;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: $neutral-900;

  // keeps the ripple inside the card.
  position: relative;
  overflow: hidden;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
  padding: $spacer $spacer $spacer $spacer-md;

  .type-info {
    display: flex;
    justify-content: space-between;

    .attachment-category {
      text-transform: uppercase;
      font-family: $font-family-title;
      font-size: $font-size-body-2;
      line-height: 18px;
      letter-spacing: 0.08em;
      color: rgba(33, 38, 47, 0.65);;
    }
  }

  .detail-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: $spacer;
    font-size: $font-size-0;

    .actions {
      align-self: flex-end;

      display: flex;
      align-items: flex-end;
      flex-direction: column;

      & > div {
        color: $action-900;
        cursor: pointer;
        margin-top: $spacer-sm;

        &:hover {
          text-decoration: underline;
        }
      }

    }
  }

  .embedded-media-player {
    display: none;
    flex-direction: column;

    &.preview {
      display: flex;
    }

    .youtube-player, .audio-player {
      align-self: stretch;

    }

    .youtube-player {
      height: 400px; // TODO: will this work in different device sizes?
    }

    .audio-player {
      height: $spacer-lg;
    }

    sbdl-button {
      align-self: flex-end;
      margin-top: $spacer-sm;
      text-transform: uppercase;
    }

  }
}

