<article #sectionHeader class="interim-container">
  
  <section class="interim-table">
    <h3>
      What are Interim Assessments?
    </h3>

    <iframe
      src="https://www.youtube.com/embed/Im-thuZCp4c"
      alt="Understanding Interim Assessments"
      frameborder="0"
      allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen="allowfullscreen"
    ></iframe>

    <a href="https://portal.smarterbalanced.org/library/en/interim-assessments-overview.pdf"
         aria-label="Interim Overview Flier (opens in a new window)."
         target="_blank">
      <h4>Interim Overview Flier</h4>
    </a>
    <p>
      Dig into the details of the interim assessments available to you and browse a
      complete list of assessments by grade and subject.
    </p>

    <h3>Access Your Interim Assessments</h3>
    <p>
      Wondering how to access the interim assessments associated with this
      playlist? Go to your assessment portal to access the test administration
      system in your area. For assistance, contact your state or district
      representative.
      <a [href]="(contactUri$ | async) | trustUrl"
         aria-label="Find contact information here (opens in a new window)."
         target="_blank" >Find contact information here.</a>
    </p>
  </section>
</article>

