<section #sectionHeader>
  <h3>
    What are Interim Assessments?
  </h3>

  <img src="/assets/images/video-placeholder.png" alt="Video Placeholder Image">
  <h4>Interim Overview Flier</h4>
  <p>
    Dig into the details of the interim assessments available to you and browse a
    complete list of assessments by grade and subject.
  </p>

  <h3>Access Your Interim Assessments</h3>
  <p>
    Wondering how to access the interim assessments associated with this
    playlist? Go to your assessment portal to access the test administration
    system in your area. For assistance, contact your state or district
    representative.
    <a href="http://www.smarterbalanced.org/contact/" target="_blank" >Find contact information here.</a>
  </p>
</section>
