<div class="resource-type">
  <sbdl-resource-type-icon
    [type]="resourceSummary.type"
  ></sbdl-resource-type-icon>
  {{ resourceSummary.type | resourceType }}
</div>

<a
  [routerLink]="['/resource', resourceSummary.id]"
  class="inner-card"
>
  <sbdl-resource-thumbnail
    [subjectCode]="resourceSummary.properties.subject.code"
    [url]="resourceSummary.properties.image"
  ></sbdl-resource-thumbnail>

  <div class="resource-summary-card-right">
    <div class="title">
      {{ resourceSummary.properties.title }}
    </div>

    <ng-container [ngSwitch]="resourceSummary.type">
      <p
        *ngSwitchCase="resourceTypes.Instructional"
        class="details caption emphasis-medium"
      >
        <span
          *ngFor="let detail of details; last as last"
          class="detail-item"
        >
          {{ detail }}
          <span *ngIf="!last">&nbsp;&nbsp;•&nbsp;&nbsp;</span>
        </span>
      </p>

      <span
        *ngSwitchCase="resourceTypes.ConnectionsPlaylist"
        class="details caption emphasis-medium"
      >
        <dynamic-html [content]="resourceSummary.summary"></dynamic-html>
      </span>
    </ng-container>
  </div>

</a>
