@import "colors";
@import "spacing";
@import "typography";

:host {
  box-sizing: border-box;
  max-width: none;
  position: relative;

  a {
    text-decoration: none;
  }
  a {
    .title {
      text-decoration: underline;
    }
  }

  .resource-type {
    font-family: $font-family-title;
    font-size: $font-size-body-2;
    line-height: 18px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: rgba($neutral-900, 0.65);

    sbdl-resource-type-icon {
      font-size: $font-size-body;
    }
  }

  .inner-card {
    background-color: $white;
    border-radius: 4px;
    box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.2),
      0 2px 2px rgba(0, 0, 0, 0.12),
      0 0 2px rgba(0, 0, 0, 0.14);

    margin-top: $spacer-sm;
    max-height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;

    overflow: hidden;

    .resource-summary-card-right {
      padding: $spacer-sm $spacer;
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: stretch;
      min-width: 0;
    }

    sbdl-resource-thumbnail {
      min-width: 100px;
      width: 100px;
      height: 100px;
    }

    .title,
    .details {
      text-overflow: ellipsis;
    }

    .title {
      color: $action-900;
      font-family: $font-family-title;
      font-size: $font-size-body;
    }

    .details {
      color: $neutral-900;
      max-height: 4.5em;
      overflow: hidden;

      .detail-item {
        white-space: nowrap;
      }

      &.professional-learning {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

}
