<div class="resource-type">
  <sbdl-resource-type-icon [type]="resourceSummary.type"></sbdl-resource-type-icon>
  {{ resourceSummary.type | resourceType }}
</div>
<a
  [routerLink]="['/resource', resourceSummary.id]"
  class="inner-card">
  <img [src]="resourceSummary.properties.image | replaceNullImage">
  <div [ngSwitch]="resourceSummary.type">
    <div class="title">{{ resourceSummary.properties.title }}</div>

    <div *ngSwitchCase="resourceTypes.Instructional" class="details caption emphasis-medium">
      <span class="detail-item" *ngFor="let detail of details; last as isLast">
        {{ detail }}
        <span *ngIf="!isLast">&nbsp;&nbsp;•&nbsp;&nbsp;</span>
      </span>
    </div>

    <div *ngSwitchCase="resourceTypes.ProfessionalLearning" class="details professional-learning caption emphasis-medium">
      {{ resourceSummary.summary }}
    </div>

    <div *ngSwitchCase="resourceTypes.AccessibilityStrategy" class="details professional-learning caption emphasis-medium">
      {{ resourceSummary.summary }}
    </div>

    <div *ngSwitchCase="resourceTypes.FormativeStrategy" class="details professional-learning caption emphasis-medium">
      {{ resourceSummary.summary }}
    </div>

  </div>
</a>
<div class="resource-summary-actions">
  <sbdl-button-icon class="bookmark" buttonTitle="Toggle Bookmark" (click)="toggleBookmarked()">
  <div *ngIf="!togglingBookmarked && resourceSummary.properties.isBookmarked">
    <i class="fas fa-bookmark"></i>
  </div>
  <div *ngIf="!togglingBookmarked && !resourceSummary.properties.isBookmarked">
    <i class="far fa-bookmark"></i>
  </div>
  <div *ngIf="togglingBookmarked">
    <i class="fas fa-spinner fa-spin"></i>
  </div>
  </sbdl-button-icon>
  <sbdl-button-icon class="share" buttonTitle="Share"><i class="far fa-share"></i></sbdl-button-icon>
  <ng-container #shareButton></ng-container>
  <sbdl-button-icon class="print" buttonTitle="Print">
    <a [routerLink]="['/resource', resourceSummary.id]" [queryParams]="{print: true}">
      <i class="far fa-print"></i>
    </a>
  </sbdl-button-icon>
  <sbdl-button-icon class="notes" buttonTitle="Notes">
    <a [routerLink]="['/resource', resourceSummary.id]" [queryParams]="{viewNotes: true}">
      <sbdl-icon [ngClass]="{'has-notes': resourceSummary.hasNotes}" icon="take-note"></sbdl-icon>
    </a>
  </sbdl-button-icon>
</div>
<ng-template #sharePopover>
  <!--
  <div class="share-popover">
      <h6>Share this resource</h6>
      <div class="copy-clipboard">
          <input #url readonly type="text" [value]="currentUrl">
          <sbdl-button-icon buttonTitle="Copy to clipboad" (click)="copyToClipboard(url)">
            <i class="fas fa-copy"></i>
            <div class="copy-success" [hidden]="!showCopied">Copied!</div>
          </sbdl-button-icon>
      </div>
  </div>
-->
</ng-template>
