@import "colors";
@import "spacing";
@import "typography";

:host {
  box-sizing: border-box;
  max-width: none;

  position: relative;

  .resource-type {
    font-family: $font-family-title;
    font-size: $font-size-body-2;
    line-height: 18px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: rgba($neutral-900, 0.65);

    sbdl-resource-type-icon {
      font-size: $font-size-body;
    }
  }

  .inner-card {
    background-color: $white;
    border-radius: 4px;
    box-shadow:
      0px 1px 3px rgba(0, 0, 0, 0.2),
      0px 2px 2px rgba(0, 0, 0, 0.12),
      0px 0px 2px rgba(0, 0, 0, 0.14);

    margin-top: $spacer-sm;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;

    overflow: hidden;

    & > div {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: stretch;
      min-width: 0;
    }

    img {
      object-fit: cover;

      width: 100px;
      height: 100px;
      min-width: 100px;
    }

    .title, .details {
      text-overflow: ellipsis;
    }

    .title {
      margin: $spacer-sm $spacer 0 $spacer;
      color: $neutral-900;
      font-family: $font-family-title;
      font-size: $font-size-body;
    }

    .details {
      margin: $spacer-sm $spacer;
      color: $neutral-900;

      .detail-item { white-space: nowrap; }

      &.professional-learning {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

}
