:host {
  position: relative;

  &.obscured {
    ::ng-deep > {
      :first-child,
      sbdl-strategy-in-action-accessibility {
        display: block;
        filter: blur(6px);
        pointer-events: none;
        user-select: none;
      }

      :not(first-child):not(sbdl-preview-login-prompt):not(sbdl-strategy-in-action-accessibility) {
        display: none;
      }
    }
  }

  > sbdl-preview-login-prompt {
    // TODO make sticky? - would need to fiddle with parent element overflow settings
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    min-width: 44ch;
  }
}
