@import "colors";
@import "spacing";

:host {
    display: block;
    max-width: none;
}

.overview-container {
    max-width: var(--measure);
    margin-right: $spacer-xl;
    margin-left: $spacer-lg;
    position: relative;
}
// .active
.overview-container {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba($action-100, 0.2);
        border-color: rgba($action-500, 0.4);
        border-radius: 0.25rem;
        border-width: 0 0 0 4px;
        border-style: solid;
    }
}

