@import "colors";

.overview-container {
    opacity: 0.1;
    border: dotted $neutral-300;
}

.overview-container:before {
    content: 'Ignore: Work In Progress';
    
    font-size: 80px;
    transform: rotate(-315deg);
    margin-top: 300px;
    margin-left: -100px;
    position: absolute;
}