@import "colors";
@import "spacing";

.overview-container {
    margin-left: auto;
    margin-right: auto;

    h4,h5{
        sbdl-icon {
            color: $neutral-900;
            opacity: 0.65;
        }
    }
}

.leading-icon {
    --icon-width: 1em;
    --icon-margin: 0.25em;
    text-indent: calc((-1) * (var(--icon-width) + var(--icon-margin)));
    sbdl-icon {
        width: var(--icon-width);
        height: auto;
        margin-right: var(--icon-margin);
        text-indent: 0;
    }
}

.placeholder {
    opacity: 0.1;
    border: dotted $neutral-300;
}

.placeholder:before {
    content: 'Placeholder';

    font-size: 80px;
    transform: rotate(-315deg);
    margin-top: 300px;
    margin-left: -100px;
    position: absolute;
}
