<div class="outline-container">
  <h6>Outline</h6>
  <ul>
    <li>
      <sbdl-button class="outline">
        <sbdl-icon icon="goal"></sbdl-icon>
        Get Started
      </sbdl-button>
    </li>
    <li class="steps">
      <sbdl-icon icon="steps"></sbdl-icon>
      Step-by-Step
      <ol>
        <li>Engage Students</li>
        <li>Introduce Visual Representations</li>
        <li>Numerical Representations</li>
        <li>Check-In</li>
        <li>Practice Problem</li>
      </ol>
    </li>
    <li>
      <sbdl-button class="outline">
        <i class="far fa-paperclip"></i>
        Attachments
      </sbdl-button>
    </li>
    <li>
      <sbdl-button class="outline">
        <i class="far fa-universal-access"></i>
        Differentiation
      </sbdl-button>
    </li>
    <li>
      <sbdl-button class="outline">
        <sbdl-icon icon="strategies"></sbdl-icon>
        Formative Assessment Process
      </sbdl-button>  
    </li>
  </ul>
</div>
