@import 'colors';
@import 'typography';

:host {
    margin-top: 4rem;

    h6 {
        font-family: $font-family-title;
        font-weight: normal;
        font-size: 1rem;
        color: rgba($neutral-900, 0.65);
        padding-left: 1rem;
        margin-bottom: 8px;
        white-space: pre;
        sbdl-icon, svg {
            padding-right: 8px;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 0;
        font-family: $font-family-title;
        font-size: 1rem;
        color: $neutral-900;
    }
    ul > li {
        border-top: 1px solid $neutral-100;
        width: 100%;
        white-space: pre;
        & > sbdl-button {
            white-space: pre;
        }
        padding: 8px 0 8px 8px;
        &.steps {
            padding: 1rem;
        }

        sbdl-icon, svg {
            color: rgba($neutral-900, 0.65);
            padding-right: 8px;
        };
    }
    ul > li:first-child {
        border-top: none;
    }

    ol {
        list-style-type: none;
        margin-left: 0;
        padding-left: 8px;
        padding-top: 17px;
    }

    ol > li:before {
        content: counter(customlistcounter) "";
        counter-increment: customListcounter;
        font-weight: 300;
        color: rgba(33, 38, 47, 0.65);
        padding-right:8px;
    }

    ol:first-child {
        counter-reset: customlistcounter;
    }

    ol > li {
        counter-increment: customlistcounter;
        display:block;
        font-size: 0.9rem;
        font-weight: 300;
        width: 301px;
    }

    &::ng-deep {
        .outline-scrolled > .mdc-button:not(:disabled) {
            border-left: $action-500 solid 8px;
        } 
    }

}
