@import "colors";
@import "spacing";
@import "typography";

:host {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 6;

  .prompt-container {
    background-color: $white;;
    border-radius: 4px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.14);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40rem;
    opacity: 1;
    padding: 1rem;
    width: 34rem;
    z-index: 6;

    h2 {
      font-weight: 500;
    }

    div {
      margin-bottom: $spacer;
      font-family: $font-family-body;
      font-size: $font-size-body;
      line-height: 150%;
    }

    sbdl-button {
      font-weight: 600;
    }
  }
}
