@import "colors";
@import "spacing";

:host {
  position: relative;
}

.popover-container {      
  position: absolute;
  top: 1.5rem;
  left: -23ch;
  z-index: 1060;
  display: block;
  width: 40ch;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  line-break: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid $neutral-100;
  border-radius: .3rem;
  padding: $spacer;
  
  // pointer on top
  &:before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-color:  $neutral-100 transparent transparent  $neutral-100;
    background-color: $white;
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    top:-5px;
    left: 20ch;
  }
  &.top:before {
    bottom:-3px;
    top: initial;
  }

  .close-button {
    background: none;
    border: none;
    color: inherit;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    padding: 0;

    position: absolute;
    top: 0.2rem;
    right: 0.5rem;

    sbdl-icon {
      cursor: pointer;
    }
  }

}

.tooltip {
  color: $white;
  
  background:
    linear-gradient(0deg, rgba(148, 16, 130, 0.372), rgba(148, 16, 130, 0.372)), 
    linear-gradient(90deg, rgba(148, 16, 126, 0.628) 0%, rgba(207, 107, 189, 0.628) 99.19%), 
    url('/assets/images/tx11-purple.png');
  opacity: 1.0;
  background-color: $white;
  background-blend-mode: multiply, darken, normal;
  background-position: -92px 0px;
  background-size:151%;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.14) !important;
  border:none;
  &:before {
    background-color: #b05fa0;
    border: none;
  } 
  &.top:before {
    background-color: #a2408e;
  }
}

.tooltip:after {
    border-color: $info-500 transparent transparent !important;
}
