<div class="watercolor"></div>

<div class="grid">
  <div class="logo">
    <a
      [routerLink]="[baseHref]"
      title="Tools for Teachers Home Page"
      [attr.aria-label]="'Tools for Teachers Home Page'"
    >
      <img class="small" src="/assets/svg/tft-logo-small.svg" aria-hidden="true">
      <img class="full" [src]="(logo$ | async) | trustUrl" aria-hidden="true">
    </a>
  </div>

  <div class="links links-top">
    <a
      title="Find Resources"
      [attr.aria-label]="'Find Resources'"
      [routerLink]="[baseHref, 'search']"
    >
      <i class="far fa-search" aria-hidden="true"></i>
      <span>Find Resources</span>
    </a>   
    <!-- <a
      title="Formative Assessment Strategies"
      [attr.aria-label]="'Formative Assessment Strategies'"
      [routerLink]="[baseHref, 'search', { resourceTypes: ['fs'] }]"
    >
      <sbdl-icon icon="strategies" aria-hidden="true"></sbdl-icon>
      <span>Formative Assessment Strategies</span>
    </a>

    <a
      title="Accessibility Strategies"
      [attr.aria-label]="'Accessibility Strategies'"
      [routerLink]="[baseHref, 'search', { resourceTypes: ['as'] }]"
    >
      <i class="far fa-universal-access" aria-hidden="true"></i>
      <span>Accessibility Strategies</span>
    </a> -->

    <!-- TODOJR -->
    <a
      title="Interim Connections Playlist"
      [attr.aria-label]="'Interim Connections Playlist'"
      [routerLink]="[baseHref, 'landing']">  
      
      <i class="far fa-chart-network" aria-hidden="true"></i>
      <span>Interim Connections Playlist</span>
      <!-- , { resourceTypes: ['cp'] }] -->
    </a>

    <a
      title="Instructional"
      [attr.aria-label]="'Instructional'"
      [routerLink]="[baseHref, 'search', { resourceTypes: ['ir'] }]">
      <sbdl-icon icon="steps" aria-hidden="true"></sbdl-icon>
      <span>Instructional</span>
    </a> 

    <a
      title="Formative Strategies"
      [attr.aria-label]="'Formative Assessment Strategies'"
      [routerLink]="[baseHref, 'search', { resourceTypes: ['fs'] }]">
      <sbdl-icon icon="strategies" aria-hidden="true"></sbdl-icon>
      <span>Formative Strategies</span>
    </a>
    
    <a
      title="Accessibility Strategies"
      [attr.aria-label]="'Accessibility Strategies'"
      [routerLink]="[baseHref, 'search', { resourceTypes: ['as'] }]">
      <i class="far fa-universal-access" aria-hidden="true"></i>
      <span>Accessibility Strategies</span>
    </a>

    <a
      title="Professional Learning Resource"
      [attr.aria-label]="'Professional Learning Resource'"
      [routerLink]="[baseHref, 'search', { resourceTypes: ['pl'] }]">
      <sbdl-icon icon="goal" aria-hidden="true"></sbdl-icon>
      <span>Professional Learning Resource</span>
    </a>

    <a
    *ngIf="hasIaipAccess$ | async"
    title="Interim Assessment Item Portal"
    [attr.aria-label]="'Interim Assessment Item Portal (opens in a new window)'"
    [href]='interimItemPortalUrl'
    target="_blank"
  >
    <i class="fas fa-badge-check" aria-hidden="true"></i>
    <span>Interim Assessment Item Portal</span>
  </a>
  </div>

  <div class="links links-bottom">
    <a
      *ngIf="user$ | async"
      class="auto-margin"
      title="Bookmarks & Notes"
      [attr.aria-label]="'Bookmarks & Notes'"
      [routerLink]="[baseHref, 'bookmarks']"
    >
      <i class="far fa-bookmark" aria-hidden="true"></i>
      <span>Bookmarks &amp; Notes</span>
    </a>
    <button
      *ngIf="!(hasToken$ | async)"
      title="Login"
      [attr.aria-label]="'Login'"
      (click)="login()"
    >
      <i class="far fa-sign-in-alt" aria-hidden="true"></i>
      <span>Login</span>
    </button>
    <a
      *ngIf="hasToken$ | async"
      title="Logout"
      [attr.aria-label]="'Logout'"
      [routerLink]="[baseHref, 'auth', 'logout']"
    >
      <i class="far fa-sign-out-alt" aria-hidden="true"></i>
      <span>Logout</span>
    </a>
  </div>
</div>
