<div class="watercolor"></div>

<div class="grid">
  <div class="logo">
    <a
      [routerLink]="[baseHref]"
      title="Tools for Teachers Home Page"
      [attr.aria-label]="'Tools for Teachers Home Page'"
    >
      <img class="small" src="/assets/svg/tft-logo-small.svg" aria-hidden="true">
      <img class="full" [src]="(logo$ | async) | trustUrl" aria-hidden="true">
    </a>
  </div>

  <div class="links links-top">
    <a
      title="Find Resources"
      [attr.aria-label]="'Find Resources'"
      [routerLink]="[baseHref, 'search']"
      routerLinkActive #rlaSearch="routerLinkActive"
      [ngClass]="{'selectedBackgroundIsActive': rlaSearch.isActive, 
                 'selectedBackgroundNotActive': !rlaSearch.isActive}"
    >
    <div class="imageArea">
      <i class="far fa-search center" aria-hidden="true"></i>
    </div>
    <span>Find Resources</span>
    </a>

    <a
      title="Interim Connections Playlist"
      [attr.aria-label]="'Interim Connections Playlist'"
      [routerLink]="[baseHref, 'landing', 'playlist']"
      routerLinkActive #rlaPlaylist="routerLinkActive"
      [ngClass]="{'selectedBackgroundIsActive': rlaPlaylist.isActive, 
                 'selectedBackgroundNotActive': !rlaPlaylist.isActive}"
      >   
      <div class="imageArea">
        <i class="far fa-chart-network" aria-hidden="true" style="margin: 6.5px 3.9px;"></i>
      </div>
      <span>Interim Connections Playlist</span>
    </a>

    <a
      title="Instructional Resources"
      [attr.aria-label]="'Instructional Resources'"
      [routerLink]="[baseHref, 'landing', 'instructional']"
      routerLinkActive #rlaInstructional="routerLinkActive"
      [ngClass]="{'selectedBackgroundIsActive': rlaInstructional.isActive, 
                 'selectedBackgroundNotActive': !rlaInstructional.isActive}"
      >
      <div class="imageArea" >
        <sbdl-icon icon="steps" aria-hidden="true"  class="center"></sbdl-icon>
      </div>
      <span>Instructional Resources</span>
    </a> 

    <a
      title="Formative Strategies"
      [attr.aria-label]="'Formative Assessment Strategies'"
      [routerLink]="[baseHref, 'landing', 'formative']"
      routerLinkActive #rlaFormative="routerLinkActive"
      [ngClass]="{'selectedBackgroundIsActive': rlaFormative.isActive, 
                 'selectedBackgroundNotActive': !rlaFormative.isActive}">
      <div class="imageArea">
        <sbdl-icon icon="strategies" aria-hidden="true" class="center"></sbdl-icon>
      </div>
      <span>Formative Strategies</span>
    </a>

    <a
      title="Accessibility Strategies"
      [attr.aria-label]="'Accessibility Strategies'"
      [routerLink]="[baseHref, 'landing', 'accessibility']"
      routerLinkActive #rlaAccessibility="routerLinkActive"
      [ngClass]="{'selectedBackgroundIsActive': rlaAccessibility.isActive, 
                 'selectedBackgroundNotActive': !rlaAccessibility.isActive}">
      <div class="imageArea">
        <i class="far fa-universal-access center" aria-hidden="true"></i>
      </div>
      <span>Accessibility Strategies</span>
    </a>

    <a
      title="Professional Learning Resource"
      [attr.aria-label]="'Professional Learning Resource'"
      [routerLink]="[baseHref, 'landing', 'professional']"
      routerLinkActive #rlaProfessional="routerLinkActive"
      [ngClass]="{'selectedBackgroundIsActive': rlaProfessional.isActive, 
                 'selectedBackgroundNotActive': !rlaProfessional.isActive}">
      <div class="imageArea">
        <sbdl-icon 
          icon="goal" 
          class="center"
          aria-hidden="true"></sbdl-icon>
      </div>
      <span>Professional Learning Resource</span>
    </a>

    <a
      title="Interim Assessment Item Portal"
      [attr.aria-label]="'Interim Assessment Item Portal'"
      [routerLink]="[baseHref, 'landing', 'items']"
      routerLinkActive #rlaItems="routerLinkActive"
      [ngClass]="{'selectedBackgroundIsActive': rlaItems.isActive, 
                 'selectedBackgroundNotActive': !rlaItems.isActive}"
      >
      <div class="imageArea">
        <i class="fas fa-badge-check center" aria-hidden="true"></i>
      </div>
      <span>Interim Assessment Item Portal</span> 
    </a>
  </div>

  <div class="links links-bottom">
    <a
      *ngIf="user$ | async"
      class="auto-margin"
      title="Bookmarks & Notes"
      [attr.aria-label]="'Bookmarks & Notes'"
      [routerLink]="[baseHref, 'bookmarks']"
      routerLinkActive #rlaBookmarks="routerLinkActive"
      [ngClass]="{'selectedBackgroundIsActive': rlaBookmarks.isActive, 
                 'selectedBackgroundNotActive': !rlaBookmarks.isActive}"
    >
      <div class="imageArea">
        <i class="far fa-bookmark center" aria-hidden="true"></i>
      </div>
      <span>Bookmarks &amp; Notes</span>
    </a>
    <button
      class="test"
      *ngIf="!(hasToken$ | async)"
      title="Login"
      [attr.aria-label]="'Login'"
      (click)="login()"
      routerLinkActive #rlaLogin="routerLinkActive"
      [ngClass]="{'selectedBackgroundIsActive': rlaLogin.isActive, 
                 'selectedBackgroundNotActive': !rlaLogin.isActive}"
    >
      <i class="far fa-sign-in-alt center" aria-hidden="true"></i>
      <span>Login</span>
    </button>
    <a
      class="test"
      *ngIf="hasToken$ | async"
      title="Logout"
      [attr.aria-label]="'Logout'"
      [routerLink]="[baseHref, 'auth', 'logout']"
      routerLinkActive #rlaLogout="routerLinkActive"
      [ngClass]="{'selectedBackgroundIsActive': rlaLogout.isActive, 
                 'selectedBackgroundNotActive': !rlaLogout.isActive}"
    >
      <i class="far fa-sign-out-alt center" aria-hidden="true"></i>
      <span>Logout</span>
    </a>
  </div>
</div>
