<div class="watercolor"></div>
<div class="logo">
  <a [routerLink]="['/']" title="Tools for Teachers Home Page">
    <img class="small" src="/assets/svg/tft-logo-small.svg" aria-hidden="true">
    <img class="full" src="/assets/svg/tft-logo-full.svg" aria-hidden="true">
  </a>
</div>

<a [routerLink]="['/']">
  <i class="far fa-search" aria-hidden="true"></i>
  <label>Find Resources</label>
</a>

<a [routerLink]="['/']">
  <sbdl-icon icon="strategies" aria-hidden="true"></sbdl-icon>
  <label>Formative Assessment Strategies</label>
</a>

<a [routerLink]="['/']">
  <i class="far fa-universal-access" aria-hidden="true"></i>
  <label>Accessibility Strategies</label>
</a>

<a [routerLink]="['/bookmarks']">
  <i class="far fa-bookmark" aria-hidden="true"></i>
  <label>Bookmarks &amp; Notes</label>
</a>

<a *ngIf="!isAuthenticated" [routerLink]="['/auth/login']"><i class="far fa-sign-in-alt"></i><label>Login</label></a>
<button *ngIf="isAuthenticated" (click)="logout()">
  <i class="far fa-sign-out-alt" aria-hidden="true"></i><label>Logout</label>
</button>
