@import "colors";
@import "spacing";
@import "fonts";

:host {
    display: block;
    max-width: none;
}

.differentiation-container {
    max-width: var(--measure);
    width: var(--measure);
    margin-right: $spacer-xl;
    margin-left: $spacer-lg;
    margin-bottom: $spacer-lg;
    position: relative;

    h6 {
        a,
        a:link,
        a:visited,
        a:hover,
        a:active {
            color: $neutral-900;
            text-decoration: none;
            font-weight: normal;
        }
    }

    .leading-icon{
        display: inline-flex;
        align-items: center;
        margin-left: calc((-1) * (var(--icon-width) + var(--icon-margin) + 10px));
        svg {
            color: $warning-900;
            background: url('/assets/images/yellow-spot-3.png') no-repeat;
            background-size: contain;
            padding: 7px;
            font-size: 1.5rem;
        }
    }

    .fa-arrow-right {
        color: $info-500;
        padding-left: $spacer-sm;
    }
}
