<article #sectionHeader class="differentiation-container">
  <h4 class="leading-icon"><i class="far fa-universal-access"></i>
    <span *ngIf="hasDifferentiationContent()">Differentiation</span>
    <span *ngIf="!hasDifferentiationContent()">Accessibility Strategies Used</span>
  </h4>
  <sbdl-differentiation-content
    *ngIf="hasDifferentiationContent()"
    [content]="resource.differentiation"
    (sectionLoaded)="addSubsection($event)">
  </sbdl-differentiation-content>
  <sbdl-strategy-reference-list
    [title]="hasDifferentiationContent() ? 'Accessibility Strategies Used' : ''"
    (sectionLoaded)="addSubsection($event)"
    [strategies]="resource.accessibilityStrategies">
  </sbdl-strategy-reference-list>
</article>
<hr/>
