<div class="watermarks">
  <img class="waterspot green" src="/assets/images/green-spot-2.png" aria-hidden="true">
  <img class="waterspot yellow" src="/assets/images/yellow-spot-6.png" aria-hidden="true">
  <img class="waterspot blue" src="/assets/images/blue-spot-3.png" aria-hidden="true">
</div>
<main id="main">
  <img class="logo-full"
    [src]="(logo$ | async)"
    alt="Tools for Teachers from Smarter Balanced">

  <h1>Select your location to login.</h1>

  <div class="body">
    <p>Access to the content on thi site is available to educators in subscribing states, territories, and districts.
      Make a selection below to login.
    </p>
  </div>

  <!-- <div class="mdc-select mdc-select-width">
    <div class="mdc-select__anchor">
      <span class="mdc-select__ripple"></span>
      <input type="text" disabled readonly class="mdc-select__selected-text">
      <i class="mdc-select__dropdown-icon"></i>
      <span class="mdc-floating-label">Pick a Food Group</span>
      <span class="mdc-line-ripple"></span>
    </div>
  
    <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth">
      <ul class="mdc-list">
        <li class="mdc-list-item mdc-list-item--selected" data-value="" aria-selected="true"></li>
        <li class="mdc-list-item" data-value="grains">
          <span class="mdc-list-item__text">
            Bread, Cereal, Rice, and Pasta
          </span>
        </li>
        <li class="mdc-list-item" data-value="vegetables">
          <span class="mdc-list-item__text">
            Vegetables
          </span>
        </li>
        <li class="mdc-list-item" data-value="fruit">
          <span class="mdc-list-item__text">
            Fruit
          </span>
        </li>
      </ul>
    </div>
  </div> -->

  <div class="select-group">
    <select class="mdc-select" [(ngModel)]="preloginValue" (change)="onPreloginSelected()">
      <option *ngFor="let s of preloginSelections" class="mdc-list-item" [ngValue]="s">
        {{ s.selectionLabel }}
      </option>
    </select>
    <sbdl-button class="primary" (click)="onGoButtonClicked()" [hidden]="goButtonHidden" [disabled]="goButtonDisabled">Go</sbdl-button>
  </div>

  <a href="#">Not in a subscribing location? Learn more about Tools for Teachers access.</a>
</main>