<article *ngIf="resource.strategyInAction" #sectionHeader class="section-container">
  <h4 class="leading-icon">
    <sbdl-icon icon="strategies"></sbdl-icon>Strategy In Action
  </h4>
  <h6>Clarify</h6>
  <dynamic-html [content]="resource.strategyInAction.clarify"></dynamic-html>
  <h6>Elicit</h6>
  <dynamic-html [content]="resource.strategyInAction.elicit"></dynamic-html>
  <h6>Interpret</h6>
  <dynamic-html [content]="resource.strategyInAction.interpret"></dynamic-html>
  <h6>Act</h6>
  <dynamic-html [content]="resource.strategyInAction.act"></dynamic-html>
</article>
<hr *ngIf="resource.strategyInAction"/>
