<article *ngIf="resource.sampleItemContent" #sectionHeader class="section-container">
  <h4 class="leading-icon">
    <i class="far fa-universal-access"></i>Strategy In Action
  </h4>
  <div *ngIf="resource.sampleItemContent.linkToSample; else elseBlock">
    <a [href]="resource.sampleItemContent.linkToSample" target="_blank">
      Try out the {{ resource.properties.title }} on the Sample Items or the Sample Tests Websites.
    </a>
    <dynamic-html [content]=resource.sampleItemContent.description></dynamic-html>
  </div>
  <ng-template #elseBlock>
    <dynamic-html [content]=resource.sampleItemContent.description></dynamic-html>
  </ng-template>
</article>
<hr *ngIf="resource.sampleItemContent"/>
