@import "spacing";
@import "colors";
@import "fonts";

:host {
    display: grid;
    grid-template-areas: "title title"
                         "byline button"
                         "updated button";
    grid-template-rows: repeat (3, auto);
    grid-template-columns: 1fr auto;
    margin-bottom: $spacer-xl;
    // calculating the max-width
    // --measure + outside padding + inside padding + trailing and leading icons
    max-width: calc(var(--measure) + #{$spacer-xl});
    margin-left: $spacer-lg;
    h1 {
        grid-area: title;
        color: $brand-green;
        word-break: break-word;
    }
    .byline {
        font-family: $font-family-title;
        grid-area: byline;
        margin-bottom: $spacer-sm;
        .font-light {
            color: $neutral-500;
        }
    }
    .caption {
        font-family: $font-family-title;
        grid-area: updated;
    }
    sbdl-button {
        grid-area: button;
        align-self: center;
    }

    .title-with-icons {
        margin-left: -59.34px;
        display: flex;
        .icon-col {
            justify-self: center;
            sbdl-icon {
                font-size: 35px;
                color: $success-700;
                padding: 10px;
            }

            .circle {
                padding: 10px;
                border-radius: 50%;
                font-weight: bold;
                font-size: 24.2px;
                margin-right: 8px;
                margin-left: 0;
                // width: 16px;
                // height: 16px; 
                background-color: $success-700;
                color: $white;
            }
        }

    }
}