<div
  class="preview-container"
  cdkTrapFocus
>
  <sbdl-button
    class="plain close"
    #closeButton
    (click)="onCloseButtonClick()"
  >
    Close
    <sbdl-icon icon="circle-close"></sbdl-icon>
  </sbdl-button>
  <div
    *ngIf="loading"
    class="loading-msg"
  >
    Loading preview...
  </div>
  <iframe
    [ngClass]="{
      loading: loading
    }"
    [src]="blobUrl | trustUrl"
  ></iframe>
  <sbdl-button
    class="primary download"
    (click)="onDownloadButtonClick(attachment)"
  >
    <i class="far fa-cloud-download"></i>
    Download {{attachment.name}}.{{attachment.fileExtension}}
  </sbdl-button>
</div>
