<h1 *ngIf="showHeadings && newSearch" class="new-search">Search for Resources </h1>
<div>
  
  <sbdl-text-field
    (submit)="search({query: $event})"
    [(ngModel)]="filters.query"
    placeholder="What are you looking for? (e.g., fractions, Grade 3, Connections Playlist)"
    fontAwesomeIcon="fa-search"
    submitButtonAriaLabel="search resources"
    (click)="onSearchClick()"
  >
  </sbdl-text-field>
  
  <ng-template #loginWarningPopover>
    <div style="height: 208.75px; width: 358px;">
      <div class="login-warning">Wait! Do you want to log in?</div>

      <div class="caption pt-3">More resources and other subjects may be available based on your state/territory.
          * When you log in, you can access everything available in your location.
      </div>

      <a class="caption pt-15"
        href="javascript:void(0)"
        (click)="login()"
      >Yes, log in to access my state/territory resources.</a>

      <div class="caption pt-15">No, continue with a limited search.</div>

      <div class="foot-note">*Access is available to educators in subscribing states/territories.</div>
    </div>
  </ng-template>
</div>

<!-- <sbdl-text-field
  (click)="onSearchClick()"
  (submit)="search({query: $event})"
  [(ngModel)]="filters.query"
  placeholder="What are you looking for? (e.g., fractions, Grade 3, Connections Playlist)"
  fontAwesomeIcon="fa-search"
  submitButtonAriaLabel="search resources"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  #loginWarning
>
</sbdl-text-field>
<ng-template
  cdkConnectedOverlay
  cdkConnectedOverlayPanelClass="windowed"
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayOpen]="shareOverlayOpen"
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayPositions]="shareOverlayPositions"
  [cdkConnectedOverlayPush]="true"
  (backdropClick)="shareOverlayOpen = false"
>
  <sbdl-login-warning
    cdkTrapFocus
    cdkTrapFocusAutoCapture
    (closed)="shareOverlayOpen = false"
  ></sbdl-login-warning>
</ng-template> -->



<!-- <sbdl-tooltip
  text="<div class='login-warning'>Wait! Do you want to log in?</div>

  <div class='caption pt-3'>More resources and other subjects may be available based on your state/territory.
      * When you log in, you can access everything available in your location.
  </div>

  <a class='caption pt-15'
    href='javascript:void(0)''
    (click)='login()'
  >Yes, log in to access my state/territory resources.</a>

  <div class='caption pt-15'>No, continue with a limited search.</div>

  <div class='foot-note'>*Access is available to educators in subscribing states/territories.</div>"
>
  <sbdl-icon icon="info"></sbdl-icon>
</sbdl-tooltip> -->





<div *ngIf="newSearch" class="caption browse-caption">
  Start typing a topic, claim, target, or <a href="javascript:void(0)" (click)="showAdvanced = true">browse for resources</a>.
</div>
<div *ngIf="!newSearch && numResults > 0" class="caption filters-caption">
  Start typing a topic, claim, target, or <a href="javascript:void(0);" (click)="showAdvanced = true">advanced search</a>.
</div>

<h1 *ngIf="!newSearch" class="results-header">
  <span>
    Found {{ numResults }}
    <ng-container [ngPlural]="numResults" >
      <ng-template ngPluralCase="=0">resources for "{{params.query}}"</ng-template>
      <ng-template ngPluralCase="=1">resource</ng-template>
      <ng-template ngPluralCase="other">resources</ng-template>
    </ng-container>
  </span>
  <sbdl-button class="plain"
               (click)="goToResults.emit(true)"
               *ngIf="showAdvanced && numResults > 0">
    scroll to results <i class="far fa-arrow-down" aria-hidden="true"></i>
  </sbdl-button>
</h1>

<div *ngIf="showHeadings && newSearch" class="new-search">
  Search for resources related to your search terms using the search input
  above or click <a href="javascript:void(0)" (click)="showAdvanced = true">browse for resources</a>
  to search for resources that exactly match your search criteria.
</div>

<!-- using ngIf > hidden because it does not render correctly with [hidden] in edge 18 (non-chromium version) -->
<div *ngIf="showAdvanced && (newSearch || numResults !== 0)" class="advanced-search">
  <div class="advanced-header">
      <h2 *ngIf="newSearch">Browse for Resources</h2>
      <h2 *ngIf="!newSearch">Advanced Search</h2>
      <div>
        <a [routerLink]="['/search', {query: filters.query || ''}]"
           class="emphasis-medium caption">
          <i class="fa fa-undo" aria-hidden="true"></i> Clear Filters
        </a>
        <a href="javascript:void(0)" class="emphasis-medium caption" (click)="showAdvanced = false">
          <sbdl-icon icon="close" aria-label="Close advanced filters"></sbdl-icon>
        </a>
      </div>
  </div>
  <div class="filter-container"
       *ngIf="filters.resourceTypes.length > 0">
    <h3>Select a type</h3>
    <sbdl-filter-chipset
      [filters]="filters.resourceTypes"
      (onChanged)="search({resourceTypes: $event.join(',')})"
    ></sbdl-filter-chipset>
  </div>
  <div class="filter-container"
       *ngIf="filters.grades.length > 0">
    <h3>Grades</h3>
    <sbdl-filter-chipset
      [filters]="filters.grades"
      (onChanged)="search({grades: $event.join(',')})"
      ></sbdl-filter-chipset>
  </div>
  <div class="filter-container"
       *ngIf="filters.subjects.length > 0">
    <h3>Subjects</h3>
    <sbdl-filter-chipset
      [filters]="filters.subjects"
      (onChanged)="search({subjects: $event.join(',')})"
    ></sbdl-filter-chipset>
  </div>
  <div class="filter-container"
       *ngIf="filters.claims.length > 0">
    <h3>Claims</h3>
    <sbdl-filter-chipset
      *ngIf="params.subjects && params.grades; else displayClaimsMessage"
      [filters]="filters.claims"
      (onChanged)="search({claims: $event.join(',')})"
    ></sbdl-filter-chipset>
    <ng-template #displayClaimsMessage>
      <p class="body-2 emphasis-medium fallback-message">
        Select a <b>Grade</b> and a <b>Subject</b> to view Claim options
      </p>
    </ng-template>
  </div>
  <div class="filter-container"
       *ngIf="filters.targets.length > 0">
    <h3>Targets</h3>
    <sbdl-filter-chipset
      *ngIf="params.subjects && params.grades && params.claims; else displayTargetMessage"
      [filters]="filters.targets"
      (onChanged)="search({targets: $event.join(',')})"
    ></sbdl-filter-chipset>
    <ng-template #displayTargetMessage>
      <p class="body-2 emphasis-medium fallback-message">
        Select a <b>Grade</b>, <b>Subject</b>, and a <b>Claim</b> to view Target options
      </p>
    </ng-template>
  </div>
  <div class="filter-container"
       *ngIf="filters.standards.length > 0">
    <h3>Content Standards</h3>
    <sbdl-filter-chipset
      *ngIf="params.subjects && params.grades && params.claims; else displayStandardsMessage"
      [filters]="filters.standards"
      (onChanged)="search({standards: $event.join(',')})"
    ></sbdl-filter-chipset>
    <ng-template #displayStandardsMessage>
      <p class="body-2 emphasis-medium fallback-message">
        Select a <b>Grade</b>, <b>Subject</b>, and a <b>Claim</b> to view
        Content Standard options
      </p>
    </ng-template>
  </div>
</div>

<!-- <ng-template #loginWarning>
  <p>login-warning works!</p>

  <h2>Wait! Do you want to log in?</h2>

  <p>More resources and other subjects may be available based on your state/territory.
      * When you log in, you can access everything available in your location.
  </p>

  <a 
    href="javascript:void(0)"
    (click)="login()"
  >Yes, log in to access my state/territory resources.</a>

  <h2>No, continue with a limited search.</h2>

  <p>*Access is available to educators in subscribing states/territories.</p>
</ng-template> -->
