header {
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    box-sizing: border-box;
    width: 100%;
    background: #FFF;
    padding-top:30px;
    display: flex;
    position: relative;
    z-index: 2;
}

.navbar-header {
    display: flex;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    padding-bottom: 25px;
    width: 100%;

    a {
        color: #338225;
        text-decoration: initial;
        font-size: 1.2rem;
        font-weight: bold;
    }
}