<header>
  <div class="container">
    <!-- Navbar -->
    <nav class="">
      <div class="navbar-header">
        <a class="navbar-brand hidden-xs" routerLink="/" title="Digital Library">
          <img src="assets/images/header-logo.png" alt="Smarter Balanced Assessment Consortium">
        </a>
        <div class="nav-links">
          <a routerLink="/resource">Instructional Support</a>
          <a href="">Professional Learning</a>
          <a href="">About this Site</a>
          <div>
            Mary Anderson
            <div>
              <em>California</em>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>