@import "colors";
@import "spacing";
@import "typography";

:host {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: none;
    margin-bottom: $spacer-xl;

    hr {
        width:100%;
        box-sizing: border-box;
        height: 1px;
        color: $neutral-900;
        background-color: $neutral-900;
        border:none;

        padding-left: 5rem;
        opacity: 0.2;
        transform: translateX(-1.5rem);
        margin-bottom: 51px;
    }

}

@media only print {
  :host {
    display: block;
  }
}
